resources/xsd/car/SearchMeteringPointsResponse_2p1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!-- ===== SearchMeteringPointsResponseEnvelope XML Schema File ===== -->
<!-- ================================================================== -->
<!--
   Schema agency: cmf 
   Schema version: 2.1.0
   Schema date: 16 March 2015

   Copyright (C) cmf (2015). All Rights Reserved.

   This document and the information contained herein is provided on an "AS IS" basis
   and cmf DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
   LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE
   ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
   PURPOSE
-->
<xsd:schema version="2p1" xmlns:ccma="urn:cmf:edsn:data:searchmeteringpointsresponse:2:standard" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:ccts="urn:un:unece:uncefact:documentation:common:3:standard:CoreComponentsTechnicalSpecification:3" targetNamespace="urn:cmf:edsn:data:searchmeteringpointsresponse:2:standard" elementFormDefault="qualified" attributeFormDefault="unqualified">
<!-- ================================================================== -->
<!-- ===== Element Declarations ===== -->
<!-- ================================================================== -->
<!-- ===== Root element ===== -->
<!-- ================================================================== -->
<xsd:element name="SearchMeteringPointsResponseEnvelope" type="ccma:SearchMeteringPointsResponseEnvelope">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#SearchMeteringPointsResponseEnvelope</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>SearchMeteringPointsResponseEnvelope</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<!-- ================================================================== -->
<!-- ===== Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#SearchMeteringPointsResponseEnvelope</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>SearchMeteringPointsResponseEnvelope</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EDSNBusinessDocumentHeader"  type="ccma:SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAR_Content"  type="ccma:SearchMeteringPointsResponseEnvelope_CC" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Content">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#CAR_Content</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Content</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Inhoud C-AR-bericht</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_CC ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_CC" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Content">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#CAR_Content</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Content</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Inhoud C-AR-bericht</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:choice>
<xsd:element name="Result"  type="ccma:SearchMeteringPointsResponseEnvelope_CC_RES" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#Result">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Result</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Result</ccts:DictionaryEntryName>
<ccts:Definition>Resultaat.</ccts:Definition>
<ccts:BusinessTermName>Resultaat</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAR_Rejection"  type="ccma:SearchMeteringPointsResponseEnvelope_CC_CRJ" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Rejection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#CAR_Rejection</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Rejection</ccts:DictionaryEntryName>
<ccts:Definition>Een afwijzing op een vraag of verzoek. CAR_Rejection (Afwijzing) heeft een relatie met CAR_MeteringPoint (Aansluiting). Bevat geen informatie over CAR_MeteringPoint.</ccts:Definition>
<ccts:BusinessTermName>Afwijzing</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_CC_CRJ ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_CC_CRJ" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Rejection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#CAR_Rejection</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Rejection</ccts:DictionaryEntryName>
<ccts:Definition>Een afwijzing op een vraag of verzoek. CAR_Rejection (Afwijzing) heeft een relatie met CAR_MeteringPoint (Aansluiting). Bevat geen informatie over CAR_MeteringPoint.</ccts:Definition>
<ccts:BusinessTermName>Afwijzing</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Rejection" minOccurs="1" maxOccurs="unbounded" type="ccma:SearchMeteringPointsResponseEnvelope_RejectionCARType" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Rejection.Rejection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#CAR_Rejection.Rejection</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Rejection.Rejection</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_CC_RES ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_CC_RES" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#Result">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Result</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Result</ccts:DictionaryEntryName>
<ccts:Definition>Resultaat.</ccts:Definition>
<ccts:BusinessTermName>Resultaat</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="MaxResults"  type="ccma:SearchMeteringPointsResponseEnvelope_YesNoType" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#Result.MaxResults">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Result.MaxResults</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Result.MaxResults</ccts:DictionaryEntryName>
<ccts:Definition>Maximum resultaten (LDT).</ccts:Definition>
<ccts:BusinessTermName>Maximaal aantal resultaatsets</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ResultSet"  type="ccma:SearchMeteringPointsResponseEnvelope_Amount" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#Result.ResultSet">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Result.ResultSet</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Result.ResultSet</ccts:DictionaryEntryName>
<ccts:Definition>Resultaat set (LDT).</ccts:Definition>
<ccts:BusinessTermName>Resultaatset</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAR_MeteringPoint" minOccurs="0" maxOccurs="unbounded" type="ccma:SearchMeteringPointsResponseEnvelope_CC_RES_CMP" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#CAR_MeteringPoint</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_MeteringPoint</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_CC_RES_CMP ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_CC_RES_CMP" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#CAR_MeteringPoint</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_MeteringPoint</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EANID"  type="ccma:SearchMeteringPointsResponseEnvelope_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#CAR_MeteringPoint.EANID</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_MeteringPoint.EANID</ccts:DictionaryEntryName>
<ccts:Definition>Uniek identificatienummer conform de Europese Artikel Nummering voor de aansluiting (LDT).</ccts:Definition>
<ccts:BusinessTermName>Aansluiting EAN</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDSN_Address" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_SimpleAddressType" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_MeteringPoint.EDSN_Address">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#CAR_MeteringPoint.EDSN_Address</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_MeteringPoint.EDSN_Address</ccts:DictionaryEntryName>
<ccts:Definition>Straatnaam, huisnummer, huisnummer-toevoeging, postcode, woonplaats, land (CDT).</ccts:Definition>
<ccts:BusinessTermName>Leveringsadres</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LocationDescription" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_LocationDescriptionType" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_MeteringPoint.LocationDescription">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#CAR_MeteringPoint.LocationDescription</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_MeteringPoint.LocationDescription</ccts:DictionaryEntryName>
<ccts:Definition>Leveringsadres-locatieomschrijving. (LDT)</ccts:Definition>
<ccts:BusinessTermName>Locatieomschrijving</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MPPhysicalCharacteristics"  type="ccma:SearchMeteringPointsResponseEnvelope_CC_RES_CMP_MPPC" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#MPPhysicalCharacteristics">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#MPPhysicalCharacteristics</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics</ccts:DictionaryEntryName>
<ccts:Definition>Fysieke eigenschappen van een aansluiting.</ccts:Definition>
<ccts:BusinessTermName>Fysieke eigenschappen aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_CC_RES_CMP_MPPC ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_CC_RES_CMP_MPPC" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#MPPhysicalCharacteristics">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#MPPhysicalCharacteristics</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics</ccts:DictionaryEntryName>
<ccts:Definition>Fysieke eigenschappen van een aansluiting.</ccts:Definition>
<ccts:BusinessTermName>Fysieke eigenschappen aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Appliance" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_IndicationType" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#MPPhysicalCharacteristics.Appliance">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#MPPhysicalCharacteristics.Appliance</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics.Appliance</ccts:DictionaryEntryName>
<ccts:Definition>Gebruik aansluiting (LDT)</ccts:Definition>
<ccts:BusinessTermName>Gebruik aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Subtype"  type="ccma:SearchMeteringPointsResponseEnvelope_EnergyConnectionSubtypeType" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#MPPhysicalCharacteristics.Subtype">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#MPPhysicalCharacteristics.Subtype</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics.Subtype</ccts:DictionaryEntryName>
<ccts:Definition>Soort aansluiting. (LDT)</ccts:Definition>
<ccts:BusinessTermName>Soort aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Type"  type="ccma:SearchMeteringPointsResponseEnvelope_EnergyConnectionType" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#MPPhysicalCharacteristics.Type">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#MPPhysicalCharacteristics.Type</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics.Type</ccts:DictionaryEntryName>
<ccts:Definition>Type aansluiting (LDT).</ccts:Definition>
<ccts:BusinessTermName>Type aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ContentHash" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.ContentHash</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ContentHash</ccts:DictionaryEntryName>
<ccts:Definition>Hash calculation based on business document</ccts:Definition>
<ccts:BusinessTermName>Hash-code berekening</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ConversationID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.ConversationID</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ConversationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify all document instances related to a specific business process resulting from an initial service request</ccts:Definition>
<ccts:BusinessTermName>Conversatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CorrelationID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.CorrelationID</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CorrelationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the document instances related to a specific asynchronous process</ccts:Definition>
<ccts:BusinessTermName>Correlatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CreationTimestamp"  type="ccma:SearchMeteringPointsResponseEnvelope_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.CreationTimestamp</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CreationTimestamp</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp when document was created</ccts:Definition>
<ccts:BusinessTermName>Creatie datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DocumentID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.DocumentID</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.DocumentID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to uniquely identify the business document on a functional level</ccts:Definition>
<ccts:BusinessTermName>Document ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ExpiresAt" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.ExpiresAt</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ExpiresAt</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp indication the expiration of this request</ccts:Definition>
<ccts:BusinessTermName>Uiterste geldigheidsdatum</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MessageID"  type="ccma:SearchMeteringPointsResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.MessageID</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.MessageID</ccts:DictionaryEntryName>
<ccts:Definition>UUID voor het uniek identificeren van elke business document instantie. De UUID wordt uitgegeven door de infrastructuur.
Deze identifier is verplicht.</ccts:Definition>
<ccts:BusinessTermName>Bericht ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ProcessTypeID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.ProcessTypeID</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ProcessTypeID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the process type where a document instance belongs to</ccts:Definition>
<ccts:BusinessTermName>Procestype ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="RepeatedRequest" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.RepeatedRequest</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.RepeatedRequest</ccts:DictionaryEntryName>
<ccts:Definition>Correlates message or service with all other messages and service calls related to the same business process</ccts:Definition>
<ccts:BusinessTermName>Herhaling aanvraag</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="TestRequest" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.TestRequest</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.TestRequest</ccts:DictionaryEntryName>
<ccts:Definition>Indicates if this is a test request</ccts:Definition>
<ccts:BusinessTermName>Testdocument</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Destination"  type="ccma:SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Destination</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Manifest" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Manifest</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Source"  type="ccma:SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Source</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Destination</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Receiver"  type="ccma:SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Receiver</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Service" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Service</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Receiver</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Receiver.Authority</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the receiving party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Receiver.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol ontvangende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ReceiverID"  type="ccma:SearchMeteringPointsResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Receiver.ReceiverID</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ReceiverID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Service ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Service</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ServiceMethod" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Service.ServiceMethod</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceMethod</ccts:DictionaryEntryName>
<ccts:Definition>Identifies a process within the service that processes on the business document</ccts:Definition>
<ccts:BusinessTermName>Functionaliteit van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ServiceName" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Service.ServiceName</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceName</ccts:DictionaryEntryName>
<ccts:Definition>Sender description of service to be carried out on the business document</ccts:Definition>
<ccts:BusinessTermName>Naam van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Manifest ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Manifest</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="NumberofItems"  type="ccma:SearchMeteringPointsResponseEnvelope_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Manifest.NumberofItems</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest.NumberofItems</ccts:DictionaryEntryName>
<ccts:Definition>Number of associated items</ccts:Definition>
<ccts:BusinessTermName>Aantal gerelateerde items</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ManifestItem" minOccurs="1" maxOccurs="unbounded" type="ccma:SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#ManifestItem</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#ManifestItem</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Description" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#ManifestItem.Description</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.Description</ccts:DictionaryEntryName>
<ccts:Definition>Text description of the item</ccts:Definition>
<ccts:BusinessTermName>Omschrijving</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LanguageCode" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#ManifestItem.LanguageCode</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.LanguageCode</ccts:DictionaryEntryName>
<ccts:Definition>ISO 639 language code of the item</ccts:Definition>
<ccts:BusinessTermName>Taal-code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MimeTypeQualifierCode"  type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#ManifestItem.MimeTypeQualifierCode</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.MimeTypeQualifierCode</ccts:DictionaryEntryName>
<ccts:Definition>MIME Media Types Code describing the content of the item</ccts:Definition>
<ccts:BusinessTermName>MIME Media Type code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="UniformResourceIdentifier"  type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#ManifestItem.UniformResourceIdentifier</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.UniformResourceIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>URI of the item
Identifier voor locatie en naam van een attachment</ccts:Definition>
<ccts:BusinessTermName>URI</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Source ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Source</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Source.Authority</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Source.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the sending party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Source.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Source.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol zendende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SenderID"  type="ccma:SearchMeteringPointsResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Source.SenderID</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Source.SenderID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Business Data Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: AddressText ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_AddressText">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#AddressText</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>AddressText</ccts:DictionaryEntryName>
<ccts:Definition>Tekst string voor complex datatype Adres.</ccts:Definition>
<ccts:BusinessTermName>Adres</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="24"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Amount ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_Amount">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Amount</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Amount</ccts:DictionaryEntryName>
<ccts:Definition>Hoeveelheid (integer).</ccts:Definition>
<ccts:BusinessTermName>Hoeveelheid</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:integer">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: BuildingNumber ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_BuildingNumber">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#BuildingNumber</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>BuildingNumber</ccts:DictionaryEntryName>
<ccts:Definition>Huisnummer voor complex datatype Adres.</ccts:Definition>
<ccts:BusinessTermName>Huisnummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:integer">
<xsd:maxInclusive value="99999"/>
<xsd:minInclusive value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CountryCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_CountryCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#CountryCode</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>CountryCode</ccts:DictionaryEntryName>
<ccts:Definition>Landcode.</ccts:Definition>
<ccts:BusinessTermName>Landcode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
<xsd:minLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: DateTime ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#DateTime</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>DateTime</ccts:DictionaryEntryName>
<ccts:Definition>Datum/tijd (dateTime).</ccts:Definition>
<ccts:BusinessTermName>Datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyConnectionSubtypeType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_EnergyConnectionSubtypeType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#EnergyConnectionSubtypeType</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyConnectionSubtypeType</ccts:DictionaryEntryName>
<ccts:Definition>Waarden zoals momenteel in gebruik door het switchsysteem (verwerken PV-switch). Indien geen waarde is opgegeven door de NB wordt default automatisch &lt;i&gt;Gewoon&lt;/i&gt; gebruikt (voor NRM-aansluiting).</ccts:Definition>
<ccts:BusinessTermName>Code soort aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyConnectionType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_EnergyConnectionType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#EnergyConnectionType</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyConnectionType</ccts:DictionaryEntryName>
<ccts:Definition>Waarden zoals geïdentificeerd door de participerende NB&apos;s. Geen default: waarde moet expliciet opgegeven worden door de NB.</ccts:Definition>
<ccts:BusinessTermName>Code type aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: ExBuildingNr ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_ExBuildingNr">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#ExBuildingNr</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>ExBuildingNr</ccts:DictionaryEntryName>
<ccts:Definition>Huisnummertoevoeging voor complex datatype Adres.</ccts:Definition>
<ccts:BusinessTermName>Huisnummertoevoeging</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: GSRNEANCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#GSRNEANCode</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>GSRNEANCode</ccts:DictionaryEntryName>
<ccts:Definition>Global Service Relation Number (GSRN) conform de Europese Artikel Nummering.</ccts:Definition>
<ccts:BusinessTermName>Global Service Relation Number</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="18"/>
<xsd:pattern value="[0-9]{18}"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Identifier ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Identifier</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Identifier</ccts:DictionaryEntryName>
<ccts:Definition>Identifier (string).</ccts:Definition>
<ccts:BusinessTermName>Identifier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: IndicationType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_IndicationType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#IndicationType</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>IndicationType</ccts:DictionaryEntryName>
<ccts:Definition>Tekst indicatie type</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="30"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Indicator ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Indicator</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Indicator</ccts:DictionaryEntryName>
<ccts:Definition>Indicator (string).</ccts:Definition>
<ccts:BusinessTermName>Indicator</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: LocationDescriptionType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_LocationDescriptionType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#LocationDescriptionType</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>LocationDescriptionType</ccts:DictionaryEntryName>
<ccts:Definition>Omschrijving locatie aansluiting.</ccts:Definition>
<ccts:BusinessTermName>Leveringsadres-locatieomschrijving</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="35"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Numeric ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Numeric</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Numeric</ccts:DictionaryEntryName>
<ccts:Definition>Nummer (getal).</ccts:Definition>
<ccts:BusinessTermName>Nummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:decimal">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: RejectionCARType ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_RejectionCARType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#RejectionCARType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#RejectionCARType</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionCARType</ccts:DictionaryEntryName>
<ccts:Definition>Datatype voor inhoudelijke afwijzingen.</ccts:Definition>
<ccts:BusinessTermName>Afwijzingen C-AR</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="RejectionCode"  type="ccma:SearchMeteringPointsResponseEnvelope_RejectionReasonCARCode" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#RejectionCARType.RejectionCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#RejectionCARType.RejectionCode</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionCARType.RejectionCode</ccts:DictionaryEntryName>
<ccts:Definition>Code van de reden van de afwijzing.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="RejectionText" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#RejectionCARType.RejectionText">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#RejectionCARType.RejectionText</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionCARType.RejectionText</ccts:DictionaryEntryName>
<ccts:Definition>Toelichting op de reden van afwijzing.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SimpleAddressType ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_SimpleAddressType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#SimpleAddressType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#SimpleAddressType</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>SimpleAddressType</ccts:DictionaryEntryName>
<ccts:Definition>Datatype voor adres met een gereduceerd aantal velden.</ccts:Definition>
<ccts:BusinessTermName>Adres (vereenvoudigd)</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="StreetName" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_AddressText" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#SimpleAddressType.StreetName">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#SimpleAddressType.StreetName</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>SimpleAddressType.StreetName</ccts:DictionaryEntryName>
<ccts:Definition>Tekst string straatnaam, max. 24 karakters</ccts:Definition>
<ccts:BusinessTermName>Straatnaam</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="BuildingNr" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_BuildingNumber" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#SimpleAddressType.BuildingNr">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#SimpleAddressType.BuildingNr</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>SimpleAddressType.BuildingNr</ccts:DictionaryEntryName>
<ccts:Definition>Cijfer(s) (integer) huisnummer, max. 6 karakters</ccts:Definition>
<ccts:BusinessTermName>Huisnummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ExBuildingNr" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_ExBuildingNr" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#SimpleAddressType.ExBuildingNr">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#SimpleAddressType.ExBuildingNr</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>SimpleAddressType.ExBuildingNr</ccts:DictionaryEntryName>
<ccts:Definition>Tekst string huisnummertoevoeging, max. 6 karakters</ccts:Definition>
<ccts:BusinessTermName>Huisnummertoevoeging</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZIPCode" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_ZIPCode" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#SimpleAddressType.ZIPCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#SimpleAddressType.ZIPCode</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>SimpleAddressType.ZIPCode</ccts:DictionaryEntryName>
<ccts:Definition>Tekst string postcode, max. 6 karakters</ccts:Definition>
<ccts:BusinessTermName>Postcode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CityName" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_AddressText" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#SimpleAddressType.CityName">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#SimpleAddressType.CityName</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>SimpleAddressType.CityName</ccts:DictionaryEntryName>
<ccts:Definition>Tekst string woonplaats, max. 24 karakters</ccts:Definition>
<ccts:BusinessTermName>Woonplaats</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Country" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_CountryCode" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#SimpleAddressType.Country">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#SimpleAddressType.Country</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>SimpleAddressType.Country</ccts:DictionaryEntryName>
<ccts:Definition>Landcode, twee karakters</ccts:Definition>
<ccts:BusinessTermName>Landcode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Text ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#Text</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>Text</ccts:DictionaryEntryName>
<ccts:Definition>Tekst (string).</ccts:Definition>
<ccts:BusinessTermName>Tekst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: YesNoType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_YesNoType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#YesNoType</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>YesNoType</ccts:DictionaryEntryName>
<ccts:Definition>Code ja of nee.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: ZIPCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_ZIPCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#ZIPCode</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>ZIPCode</ccts:DictionaryEntryName>
<ccts:Definition>Postcode voor complex datatype Adres.</ccts:Definition>
<ccts:BusinessTermName>Postcode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Business Code List Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: RejectionReasonCARCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_RejectionReasonCARCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:searchmeteringpointsresponse#RejectionReasonCARCode</ccts:UniqueID>
<ccts:VersionID>2.1</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionReasonCARCode</ccts:DictionaryEntryName>
<ccts:Definition>Code afwijsreden CAR.</ccts:Definition>
<ccts:BusinessTermName>Code afwijsreden C-AR</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>