resources/xsd/car/SearchMeteringPointsRequest_1p2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!-- ===== SearchMeteringPointsRequestEnvelope XML Schema File ===== -->
<!-- ================================================================== -->
<!--
   Schema agency: nedu
   Schema version: 1.2.0
   Schema date: 18 April 2017

   Copyright (C) nedu (2017). All Rights Reserved.

   This document and the information contained herein is provided on an "AS IS" basis
   and nedu DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
   LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE
   ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
   PURPOSE
-->
<xsd:schema version="1p2" xmlns:ccma="urn:nedu:edsn:data:searchmeteringpointsrequest:1:standard" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:ccts="urn:un:unece:uncefact:documentation:common:3:standard:CoreComponentsTechnicalSpecification:3" targetNamespace="urn:nedu:edsn:data:searchmeteringpointsrequest:1:standard" elementFormDefault="qualified" attributeFormDefault="unqualified">
<!-- ================================================================== -->
<!-- ===== Element Declarations ===== -->
<!-- ================================================================== -->
<!-- ===== Root element ===== -->
<!-- ================================================================== -->
<xsd:element name="SearchMeteringPointsRequestEnvelope" type="ccma:SearchMeteringPointsRequestEnvelope">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#SearchMeteringPointsRequestEnvelope</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>SearchMeteringPointsRequestEnvelope</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<!-- ================================================================== -->
<!-- ===== Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsRequestEnvelope ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsRequestEnvelope">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#SearchMeteringPointsRequestEnvelope</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>SearchMeteringPointsRequestEnvelope</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EDSNBusinessDocumentHeader"  type="ccma:SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Portaal_Content"  type="ccma:SearchMeteringPointsRequestEnvelope_PC" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Content">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Portaal_Content</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Content</ccts:DictionaryEntryName>
<ccts:Definition>Inhoud van een Portaal-bericht. Is een container-element op het hoogste niveau en wordt in elk bericht toegepast.</ccts:Definition>
<ccts:BusinessTermName>Inhoud Portaal-bericht</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ContentHash" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#EDSNBusinessDocumentHeader.ContentHash</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ContentHash</ccts:DictionaryEntryName>
<ccts:Definition>Hash calculation based on business document</ccts:Definition>
<ccts:BusinessTermName>Hash-code berekening</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ConversationID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#EDSNBusinessDocumentHeader.ConversationID</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ConversationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify all document instances related to a specific business process resulting from an initial service request</ccts:Definition>
<ccts:BusinessTermName>Conversatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CorrelationID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#EDSNBusinessDocumentHeader.CorrelationID</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CorrelationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the document instances related to a specific asynchronous process</ccts:Definition>
<ccts:BusinessTermName>Correlatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CreationTimestamp"  type="ccma:SearchMeteringPointsRequestEnvelope_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#EDSNBusinessDocumentHeader.CreationTimestamp</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CreationTimestamp</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp when document was created</ccts:Definition>
<ccts:BusinessTermName>Creatie datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DocumentID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#EDSNBusinessDocumentHeader.DocumentID</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.DocumentID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to uniquely identify the business document on a functional level</ccts:Definition>
<ccts:BusinessTermName>Document ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ExpiresAt" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#EDSNBusinessDocumentHeader.ExpiresAt</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ExpiresAt</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp indication the expiration of this request</ccts:Definition>
<ccts:BusinessTermName>Uiterste geldigheidsdatum</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MessageID"  type="ccma:SearchMeteringPointsRequestEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#EDSNBusinessDocumentHeader.MessageID</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.MessageID</ccts:DictionaryEntryName>
<ccts:Definition>UUID voor het uniek identificeren van elke business document instantie. De UUID wordt uitgegeven door de infrastructuur.
Deze identifier is verplicht.</ccts:Definition>
<ccts:BusinessTermName>Bericht ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ProcessTypeID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#EDSNBusinessDocumentHeader.ProcessTypeID</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ProcessTypeID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the process type where a document instance belongs to</ccts:Definition>
<ccts:BusinessTermName>Procestype ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="RepeatedRequest" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#EDSNBusinessDocumentHeader.RepeatedRequest</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.RepeatedRequest</ccts:DictionaryEntryName>
<ccts:Definition>Correlates message or service with all other messages and service calls related to the same business process</ccts:Definition>
<ccts:BusinessTermName>Herhaling aanvraag</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="TestRequest" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#EDSNBusinessDocumentHeader.TestRequest</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.TestRequest</ccts:DictionaryEntryName>
<ccts:Definition>Indicates if this is a test request</ccts:Definition>
<ccts:BusinessTermName>Testdocument</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Destination"  type="ccma:SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Destination</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Manifest" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Manifest</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Source"  type="ccma:SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Source</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Destination ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Destination</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Receiver"  type="ccma:SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Receiver</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Service" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Service</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Receiver</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Receiver.Authority</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the receiving party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Receiver.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol ontvangende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ReceiverID"  type="ccma:SearchMeteringPointsRequestEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Receiver.ReceiverID</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ReceiverID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Destination_Service ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Service</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ServiceMethod" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Service.ServiceMethod</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceMethod</ccts:DictionaryEntryName>
<ccts:Definition>Identifies a process within the service that processes on the business document</ccts:Definition>
<ccts:BusinessTermName>Functionaliteit van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ServiceName" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Service.ServiceName</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceName</ccts:DictionaryEntryName>
<ccts:Definition>Sender description of service to be carried out on the business document</ccts:Definition>
<ccts:BusinessTermName>Naam van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Manifest ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Manifest</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="NumberofItems"  type="ccma:SearchMeteringPointsRequestEnvelope_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Manifest.NumberofItems</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest.NumberofItems</ccts:DictionaryEntryName>
<ccts:Definition>Number of associated items</ccts:Definition>
<ccts:BusinessTermName>Aantal gerelateerde items</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ManifestItem" minOccurs="1" maxOccurs="unbounded" type="ccma:SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#ManifestItem</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#ManifestItem</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Description" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#ManifestItem.Description</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.Description</ccts:DictionaryEntryName>
<ccts:Definition>Text description of the item</ccts:Definition>
<ccts:BusinessTermName>Omschrijving</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LanguageCode" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#ManifestItem.LanguageCode</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.LanguageCode</ccts:DictionaryEntryName>
<ccts:Definition>ISO 639 language code of the item</ccts:Definition>
<ccts:BusinessTermName>Taal-code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MimeTypeQualifierCode"  type="ccma:SearchMeteringPointsRequestEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#ManifestItem.MimeTypeQualifierCode</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.MimeTypeQualifierCode</ccts:DictionaryEntryName>
<ccts:Definition>MIME Media Types Code describing the content of the item</ccts:Definition>
<ccts:BusinessTermName>MIME Media Type code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="UniformResourceIdentifier"  type="ccma:SearchMeteringPointsRequestEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#ManifestItem.UniformResourceIdentifier</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.UniformResourceIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>URI of the item
Identifier voor locatie en naam van een attachment</ccts:Definition>
<ccts:BusinessTermName>URI</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Source ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsRequestEnvelope_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Source</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Source.Authority</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Source.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the sending party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Source.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Source.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol zendende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SenderID"  type="ccma:SearchMeteringPointsRequestEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Source.SenderID</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Source.SenderID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsRequestEnvelope_PC ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsRequestEnvelope_PC" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Content">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Portaal_Content</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Content</ccts:DictionaryEntryName>
<ccts:Definition>Inhoud van een Portaal-bericht. Is een container-element op het hoogste niveau en wordt in elk bericht toegepast.</ccts:Definition>
<ccts:BusinessTermName>Inhoud Portaal-bericht</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Portaal_MeteringPoint"  type="ccma:SearchMeteringPointsRequestEnvelope_PC_PMP" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Portaal_MeteringPoint</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken.
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsRequestEnvelope_PC_PMP ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsRequestEnvelope_PC_PMP" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Portaal_MeteringPoint</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken.
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EANID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Portaal_MeteringPoint.EANID</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint.EANID</ccts:DictionaryEntryName>
<ccts:Definition>Uniek identificatienummer conform de Europese Artikel Nummering voor de aansluiting (LDT).</ccts:Definition>
<ccts:BusinessTermName>Aansluiting EAN</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDSN_AddressSearch" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_MPAddressRequestType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Portaal_MeteringPoint.EDSN_AddressSearch</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint.EDSN_AddressSearch</ccts:DictionaryEntryName>
<ccts:Definition>BAG, straatnaam, huisnummer, huisnummer-toevoeging, postcode, woonplaats, land (CDT).</ccts:Definition>
<ccts:BusinessTermName>Aansluitadres</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LocationDescription" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_LocationDescriptionType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint.LocationDescription">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Portaal_MeteringPoint.LocationDescription</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint.LocationDescription</ccts:DictionaryEntryName>
<ccts:Definition>Omschrijving locatie aansluiting (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Locatieomschrijving</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MarketSegment" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_MarketSegmentCode" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint.MarketSegment">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Portaal_MeteringPoint.MarketSegment</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint.MarketSegment</ccts:DictionaryEntryName>
<ccts:Definition>Verbruikssegment: ART, GVB, KVB (EDT).</ccts:Definition>
<ccts:BusinessTermName>Verbruikssegment</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ProductType" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_EnergyProductPortaalTypeCode" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint.ProductType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Portaal_MeteringPoint.ProductType</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint.ProductType</ccts:DictionaryEntryName>
<ccts:Definition>Type van de aansluiting: Electriciteit of Gas (EDT).</ccts:Definition>
<ccts:BusinessTermName>Productsoort</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Business Data Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: AddressText ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsRequestEnvelope_AddressText">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#AddressText</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>AddressText</ccts:DictionaryEntryName>
<ccts:Definition>[A.10] Straatnaam en [A.11] Woonplaats. Tekst string voor complex datatype Adres (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Adres</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="24"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: BAGIDType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsRequestEnvelope_BAGIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#BAGIDType</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>BAGIDType</ccts:DictionaryEntryName>
<ccts:Definition>[A.13] Uniek objectaanduiding binnen een gemeente, bestaande uit 16 cijfers (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Objectnummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="16"/>
<xsd:minLength value="1"/>
<xsd:pattern value="[0-9]*"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: BAGType ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsRequestEnvelope_BAGType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#BAGType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#BAGType</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>BAGType</ccts:DictionaryEntryName>
<ccts:Definition>BAG (Basisregistraties Adressen en Gebouwen). De BAG-identifier is verplicht. De BAG-identifier Verblijfsobject is een adresseerbaar object met een relatie tot een Pand. Pand-identifier is derhalve een optioneel attribuut.</ccts:Definition>
<ccts:BusinessTermName>BAG</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="BAGID"  type="ccma:SearchMeteringPointsRequestEnvelope_BAGIDType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#BAGType.BAGID">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#BAGType.BAGID</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>BAGType.BAGID</ccts:DictionaryEntryName>
<ccts:Definition>BAG-identifier voor de drie adresseerbare objecttypen: Verblijfsobjecten, Ligplaatsen en Standplaatsen</ccts:Definition>
<ccts:BusinessTermName>BAG-identifier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAGBuildingID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_BAGIDType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#BAGType.BAGBuildingID">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#BAGType.BAGBuildingID</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>BAGType.BAGBuildingID</ccts:DictionaryEntryName>
<ccts:Definition>BAG-identifier voor Pand</ccts:Definition>
<ccts:BusinessTermName>BAGPand-identifier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: BuildingNumber ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsRequestEnvelope_BuildingNumber">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#BuildingNumber</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>BuildingNumber</ccts:DictionaryEntryName>
<ccts:Definition>[A.08] Huisnummer voor complex datatype Adres (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Huisnummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:integer">
<xsd:maxInclusive value="99999"/>
<xsd:minInclusive value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CountryCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsRequestEnvelope_CountryCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#CountryCode</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>CountryCode</ccts:DictionaryEntryName>
<ccts:Definition>[A.60] Landcode (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Landcode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
<xsd:minLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: DateTime ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsRequestEnvelope_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#DateTime</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>DateTime</ccts:DictionaryEntryName>
<ccts:Definition>Datum/tijd (dateTime) (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: ExBuildingNr ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsRequestEnvelope_ExBuildingNr">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#ExBuildingNr</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>ExBuildingNr</ccts:DictionaryEntryName>
<ccts:Definition>[A.09] Huisnummertoevoeging voor complex datatype Adres (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Huisnummertoevoeging</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: GSRNEANCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsRequestEnvelope_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#GSRNEANCode</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>GSRNEANCode</ccts:DictionaryEntryName>
<ccts:Definition>Global Service Relation Number (GSRN) conform de Europese Artikel Nummering (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Global Service Relation Number</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="18"/>
<xsd:pattern value="[0-9]{18}"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Identifier ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsRequestEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Identifier</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Identifier</ccts:DictionaryEntryName>
<ccts:Definition>Identifier (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Identifier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Indicator ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsRequestEnvelope_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Indicator</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Indicator</ccts:DictionaryEntryName>
<ccts:Definition>Indicator (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Indicator</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: LocationDescriptionType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsRequestEnvelope_LocationDescriptionType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#LocationDescriptionType</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>LocationDescriptionType</ccts:DictionaryEntryName>
<ccts:Definition>[A.16] Omschrijving locatie aansluiting (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Leveringsadres-locatieomschrijving</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="35"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MPAddressRequestType ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsRequestEnvelope_MPAddressRequestType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#MPAddressType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#MPAddressRequestType</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressRequestType</ccts:DictionaryEntryName>
<ccts:Definition>Datatype voor adres met alle velden, uitgezonderd de GPS-coördinaten en TNT perceelnummer</ccts:Definition>
<ccts:BusinessTermName>Adres</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="BAG" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_BAGType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#Address.BAG">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#MPAddressRequestType.BAG</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressRequestType.BAG</ccts:DictionaryEntryName>
<ccts:Definition>BAG (Basisregistraties Adressen en Gebouwen) identificatie (CDT)</ccts:Definition>
<ccts:BusinessTermName>Basisregistraties Adressen en Gebouwen</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="StreetName" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_AddressText" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#Address.StreetName">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#MPAddressRequestType.StreetName</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressRequestType.StreetName</ccts:DictionaryEntryName>
<ccts:Definition>Tekst string straatnaam, max. 24 karakters</ccts:Definition>
<ccts:BusinessTermName>Straatnaam</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="BuildingNr" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_BuildingNumber" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#Address.BuildingNr">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#MPAddressRequestType.BuildingNr</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressRequestType.BuildingNr</ccts:DictionaryEntryName>
<ccts:Definition>Cijfer(s) (integer) huisnummer, max. 6 karakters</ccts:Definition>
<ccts:BusinessTermName>Huisnummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ExBuildingNr" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_ExBuildingNr" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#Address.ExBuildingNr">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#MPAddressRequestType.ExBuildingNr</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressRequestType.ExBuildingNr</ccts:DictionaryEntryName>
<ccts:Definition>Tekst string huisnummertoevoeging, max. 6 karakters</ccts:Definition>
<ccts:BusinessTermName>Huisnummertoevoeging</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZIPCode" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_ZIPCode" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#Address.ZIPCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#MPAddressRequestType.ZIPCode</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressRequestType.ZIPCode</ccts:DictionaryEntryName>
<ccts:Definition>Tekst string postcode, max. 6 karakters</ccts:Definition>
<ccts:BusinessTermName>Postcode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CityName" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_AddressText" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#Address.CityName">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#MPAddressRequestType.CityName</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressRequestType.CityName</ccts:DictionaryEntryName>
<ccts:Definition>Tekst string woonplaats, max. 24 karakters</ccts:Definition>
<ccts:BusinessTermName>Woonplaats</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Country" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsRequestEnvelope_CountryCode" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#Address.Country">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#MPAddressRequestType.Country</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressRequestType.Country</ccts:DictionaryEntryName>
<ccts:Definition>Landcode, 2 karakters (LDT1)</ccts:Definition>
<ccts:BusinessTermName>Landcode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Numeric ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsRequestEnvelope_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Numeric</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Numeric</ccts:DictionaryEntryName>
<ccts:Definition>Nummer (getal) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Nummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:decimal">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Text ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsRequestEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#Text</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>Text</ccts:DictionaryEntryName>
<ccts:Definition>Tekst (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Tekst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: ZIPCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsRequestEnvelope_ZIPCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#ZIPCode</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>ZIPCode</ccts:DictionaryEntryName>
<ccts:Definition>[A.07] Postcode voor complex datatype Adres (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Postcode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Business Code List Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyProductPortaalTypeCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsRequestEnvelope_EnergyProductPortaalTypeCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#EnergyProductPortaalTypeCode</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyProductPortaalTypeCode</ccts:DictionaryEntryName>
<ccts:Definition>[A.17] Code productsoort Portaal.</ccts:Definition>
<ccts:BusinessTermName>Code productsoort Portaal</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ELK">
<xsd:annotation>
<xsd:documentation>Elektriciteit </xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="GAS">
<xsd:annotation>
<xsd:documentation>Gas</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MarketSegmentCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsRequestEnvelope_MarketSegmentCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsrequest#MarketSegmentCode</ccts:UniqueID>
<ccts:VersionID>1.2</ccts:VersionID>
<ccts:DictionaryEntryName>MarketSegmentCode</ccts:DictionaryEntryName>
<ccts:Definition>[A.18] De bestaande verbruiksegmenten in de (vrije) energiemarkt. Geen default: waarde moet expliciet opgegeven worden door de NB. Toegestane waarden: &apos;KVB&apos; of &apos;GVB&apos;. Waarde &apos;ART&apos; indien [A.18]=GVB en [A.59]=Ja.</ccts:Definition>
<ccts:BusinessTermName>Code verbruikssegment</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:enumeration value="ART">
<xsd:annotation>
<xsd:documentation>Artikel 1 lid 2 of lid 3</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="GVB">
<xsd:annotation>
<xsd:documentation>Grootverbruik</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="KVB">
<xsd:annotation>
<xsd:documentation>Kleinverbruik</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
