resources/xsd/car/SearchMeteringPointsResponse_1p6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!-- ===== SearchMeteringPointsResponseEnvelope XML Schema File ===== -->
<!-- ================================================================== -->
<!--
   Schema agency: nedu 
   Schema version: 1.6.0
   Schema date: 18 April 2017

   Copyright (C) nedu (2017). All Rights Reserved.

   This document and the information contained herein is provided on an "AS IS" basis
   and nedu DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
   LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE
   ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
   PURPOSE
-->
<xsd:schema version="1p6" xmlns:ccma="urn:nedu:edsn:data:searchmeteringpointsresponse:1:standard" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:ccts="urn:un:unece:uncefact:documentation:common:3:standard:CoreComponentsTechnicalSpecification:3" targetNamespace="urn:nedu:edsn:data:searchmeteringpointsresponse:1:standard" elementFormDefault="qualified" attributeFormDefault="unqualified">
<!-- ================================================================== -->
<!-- ===== Element Declarations ===== -->
<!-- ================================================================== -->
<!-- ===== Root element ===== -->
<!-- ================================================================== -->
<xsd:element name="SearchMeteringPointsResponseEnvelope" type="ccma:SearchMeteringPointsResponseEnvelope">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#SearchMeteringPointsResponseEnvelope</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>SearchMeteringPointsResponseEnvelope</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<!-- ================================================================== -->
<!-- ===== Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#SearchMeteringPointsResponseEnvelope</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>SearchMeteringPointsResponseEnvelope</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EDSNBusinessDocumentHeader"  type="ccma:SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Portaal_Content"  type="ccma:SearchMeteringPointsResponseEnvelope_PC" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Content">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_Content</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Content</ccts:DictionaryEntryName>
<ccts:Definition>Inhoud van een Portaal-bericht. Is een container-element op het hoogste niveau en wordt in elk bericht toegepast.</ccts:Definition>
<ccts:BusinessTermName>Inhoud Portaal-bericht</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ContentHash" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.ContentHash</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ContentHash</ccts:DictionaryEntryName>
<ccts:Definition>Hash calculation based on business document</ccts:Definition>
<ccts:BusinessTermName>Hash-code berekening</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ConversationID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.ConversationID</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ConversationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify all document instances related to a specific business process resulting from an initial service request</ccts:Definition>
<ccts:BusinessTermName>Conversatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CorrelationID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.CorrelationID</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CorrelationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the document instances related to a specific asynchronous process</ccts:Definition>
<ccts:BusinessTermName>Correlatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CreationTimestamp"  type="ccma:SearchMeteringPointsResponseEnvelope_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.CreationTimestamp</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CreationTimestamp</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp when document was created</ccts:Definition>
<ccts:BusinessTermName>Creatie datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DocumentID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.DocumentID</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.DocumentID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to uniquely identify the business document on a functional level</ccts:Definition>
<ccts:BusinessTermName>Document ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ExpiresAt" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.ExpiresAt</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ExpiresAt</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp indication the expiration of this request</ccts:Definition>
<ccts:BusinessTermName>Uiterste geldigheidsdatum</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MessageID"  type="ccma:SearchMeteringPointsResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.MessageID</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.MessageID</ccts:DictionaryEntryName>
<ccts:Definition>UUID voor het uniek identificeren van elke business document instantie. De UUID wordt uitgegeven door de infrastructuur.
Deze identifier is verplicht.</ccts:Definition>
<ccts:BusinessTermName>Bericht ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ProcessTypeID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.ProcessTypeID</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ProcessTypeID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the process type where a document instance belongs to</ccts:Definition>
<ccts:BusinessTermName>Procestype ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="RepeatedRequest" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.RepeatedRequest</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.RepeatedRequest</ccts:DictionaryEntryName>
<ccts:Definition>Correlates message or service with all other messages and service calls related to the same business process</ccts:Definition>
<ccts:BusinessTermName>Herhaling aanvraag</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="TestRequest" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EDSNBusinessDocumentHeader.TestRequest</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.TestRequest</ccts:DictionaryEntryName>
<ccts:Definition>Indicates if this is a test request</ccts:Definition>
<ccts:BusinessTermName>Testdocument</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Destination"  type="ccma:SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Destination</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Manifest" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Manifest</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Source"  type="ccma:SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Source</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Destination</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Receiver"  type="ccma:SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Receiver</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Service" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Service</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Receiver</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Receiver.Authority</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the receiving party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Receiver.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol ontvangende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ReceiverID"  type="ccma:SearchMeteringPointsResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Receiver.ReceiverID</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ReceiverID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Service ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Service</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ServiceMethod" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Service.ServiceMethod</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceMethod</ccts:DictionaryEntryName>
<ccts:Definition>Identifies a process within the service that processes on the business document</ccts:Definition>
<ccts:BusinessTermName>Functionaliteit van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ServiceName" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Service.ServiceName</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceName</ccts:DictionaryEntryName>
<ccts:Definition>Sender description of service to be carried out on the business document</ccts:Definition>
<ccts:BusinessTermName>Naam van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Manifest ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Manifest</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="NumberofItems"  type="ccma:SearchMeteringPointsResponseEnvelope_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Manifest.NumberofItems</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest.NumberofItems</ccts:DictionaryEntryName>
<ccts:Definition>Number of associated items</ccts:Definition>
<ccts:BusinessTermName>Aantal gerelateerde items</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ManifestItem" minOccurs="1" maxOccurs="unbounded" type="ccma:SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#ManifestItem</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#ManifestItem</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Description" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#ManifestItem.Description</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.Description</ccts:DictionaryEntryName>
<ccts:Definition>Text description of the item</ccts:Definition>
<ccts:BusinessTermName>Omschrijving</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LanguageCode" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#ManifestItem.LanguageCode</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.LanguageCode</ccts:DictionaryEntryName>
<ccts:Definition>ISO 639 language code of the item</ccts:Definition>
<ccts:BusinessTermName>Taal-code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MimeTypeQualifierCode"  type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#ManifestItem.MimeTypeQualifierCode</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.MimeTypeQualifierCode</ccts:DictionaryEntryName>
<ccts:Definition>MIME Media Types Code describing the content of the item</ccts:Definition>
<ccts:BusinessTermName>MIME Media Type code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="UniformResourceIdentifier"  type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#ManifestItem.UniformResourceIdentifier</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.UniformResourceIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>URI of the item
Identifier voor locatie en naam van een attachment</ccts:Definition>
<ccts:BusinessTermName>URI</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Source ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Source</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Source.Authority</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Source.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the sending party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Source.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Source.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol zendende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SenderID"  type="ccma:SearchMeteringPointsResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Source.SenderID</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Source.SenderID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_PC ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_PC" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Content">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_Content</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Content</ccts:DictionaryEntryName>
<ccts:Definition>Inhoud van een Portaal-bericht. Is een container-element op het hoogste niveau en wordt in elk bericht toegepast.</ccts:Definition>
<ccts:BusinessTermName>Inhoud Portaal-bericht</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:choice>
<xsd:element name="Result"  type="ccma:SearchMeteringPointsResponseEnvelope_PC_Result" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Result">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Result</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Result</ccts:DictionaryEntryName>
<ccts:Definition>Veld &quot;Maximaal resultaat bereikt&quot; (ReachedMaxResult) geeft met &quot;0&quot; of &quot;1&quot; aan of het max. resultaat bereikt is, waarbij 0 = N en 1 = J.(LDT3)</ccts:Definition>
<ccts:BusinessTermName>Resultaat</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Portaal_Rejection"  type="ccma:SearchMeteringPointsResponseEnvelope_PC_PR" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Rejection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_Rejection</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Rejection</ccts:DictionaryEntryName>
<ccts:Definition>Een afwijzing op een vraag of verzoek. Portaal_Rejection (Afwijzing) heeft een relatie met MeteringPoint (Aansluiting). Bevat geen informatie over MeteringPoint.</ccts:Definition>
<ccts:BusinessTermName>Afwijzing</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_PC_PR ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_PC_PR" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Rejection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_Rejection</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Rejection</ccts:DictionaryEntryName>
<ccts:Definition>Een afwijzing op een vraag of verzoek. Portaal_Rejection (Afwijzing) heeft een relatie met MeteringPoint (Aansluiting). Bevat geen informatie over MeteringPoint.</ccts:Definition>
<ccts:BusinessTermName>Afwijzing</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Rejection" minOccurs="1" maxOccurs="unbounded" type="ccma:SearchMeteringPointsResponseEnvelope_RejectionPortaalType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Rejection.Rejection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_Rejection.Rejection</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_Rejection.Rejection</ccts:DictionaryEntryName>
<ccts:Definition>Een afwijzing op een vraag of verzoek (CDT).</ccts:Definition>
<ccts:BusinessTermName>Afwijzing</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_PC_Result ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_PC_Result" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Result">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Result</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Result</ccts:DictionaryEntryName>
<ccts:Definition>Veld &quot;Maximaal resultaat bereikt&quot; (ReachedMaxResult) geeft met &quot;0&quot; of &quot;1&quot; aan of het max. resultaat bereikt is, waarbij 0 = N en 1 = J.(LDT3)</ccts:Definition>
<ccts:BusinessTermName>Resultaat</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ReachedMaxResult"  type="ccma:SearchMeteringPointsResponseEnvelope_Amount" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Result.ReachedMaxResult">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Result.ReachedMaxResult</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Result.ReachedMaxResult</ccts:DictionaryEntryName>
<ccts:Definition>Resultaatset (LDT3).</ccts:Definition>
<ccts:BusinessTermName>Maximaal resultaat bereikt</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Portaal_MeteringPoint" minOccurs="0" maxOccurs="unbounded" type="ccma:SearchMeteringPointsResponseEnvelope_PC_Result_PMP" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_MeteringPoint</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_PC_Result_PMP ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_PC_Result_PMP" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_MeteringPoint</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EANID"  type="ccma:SearchMeteringPointsResponseEnvelope_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_MeteringPoint.EANID</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint.EANID</ccts:DictionaryEntryName>
<ccts:Definition>Uniek identificatienummer conform de Europese Artikel Nummering voor de aansluiting (LDT1).</ccts:Definition>
<ccts:BusinessTermName>Aansluiting EAN</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="EDSN_AddressSearch" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_MPAddressResponseType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_MeteringPoint.EDSN_AddressSearch</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint.EDSN_AddressSearch</ccts:DictionaryEntryName>
<ccts:Definition>BAG, straatnaam, huisnummer, huisnummer-toevoeging, postcode, woonplaats, land (CDT).</ccts:Definition>
<ccts:BusinessTermName>Aansluitadres</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GridArea" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_GSRNEANCode" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint.GridArea">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_MeteringPoint.GridArea</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint.GridArea</ccts:DictionaryEntryName>
<ccts:Definition>Netgebied/GOS (LDT1).</ccts:Definition>
<ccts:BusinessTermName>Netgebied/GOS</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LocationDescription" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_LocationDescriptionType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint.LocationDescription">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_MeteringPoint.LocationDescription</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint.LocationDescription</ccts:DictionaryEntryName>
<ccts:Definition>Omschrijving locatie aansluiting (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Locatieomschrijving</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MarketSegment"  type="ccma:SearchMeteringPointsResponseEnvelope_MarketSegmentType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint.MarketSegment">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_MeteringPoint.MarketSegment</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint.MarketSegment</ccts:DictionaryEntryName>
<ccts:Definition>Verbruikssegment: ART, GVB, KVB (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Verbruikssegment</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ProductType"  type="ccma:SearchMeteringPointsResponseEnvelope_EnergyProductType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint.ProductType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_MeteringPoint.ProductType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_MeteringPoint.ProductType</ccts:DictionaryEntryName>
<ccts:Definition>Type van de aansluiting: Electriciteit of Gas (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Productsoort</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="GridOperator_Company"  type="ccma:SearchMeteringPointsResponseEnvelope_PC_Result_PMP_GridOperator_Company" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GridOperator_Company">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#GridOperator_Company</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>GridOperator_Company</ccts:DictionaryEntryName>
<ccts:Definition>Elektriciteit: een vennootschap die op grond van artikel 10, 13 of 14 van de Elektriciteitswet is aangewezen voor het beheer van een of meer netten.
Gas: een vennootschap die op grond van artikel 2 van de Gaswet is aangewezen voor het beheer van een of meer gastransportnetten.</ccts:Definition>
<ccts:BusinessTermName>Netbeheerder</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MPCommercialCharacteristics" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_PC_Result_PMP_MPCC" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPCommercialCharacteristics">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPCommercialCharacteristics</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPCommercialCharacteristics</ccts:DictionaryEntryName>
<ccts:Definition>Commerciële kenmerken van een aansluiting.</ccts:Definition>
<ccts:BusinessTermName>Commerciële kenmerken</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Portaal_EnergyMeter" minOccurs="0" maxOccurs="unbounded" type="ccma:SearchMeteringPointsResponseEnvelope_PC_Result_PMP_Portaal_EnergyMeter" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_EnergyMeter">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_EnergyMeter</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_EnergyMeter</ccts:DictionaryEntryName>
<ccts:Definition>Apparaat waarmee het energiegebruik geregistreerd kan worden.
Toelichting: De Portaal_EnergyMeter bevat alle eigenschappen die voor het Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Energiemeter</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MPPhysicalCharacteristics" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_PC_Result_PMP_MPPhysicalCharacteristics" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPPhysicalCharacteristics">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPPhysicalCharacteristics</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics</ccts:DictionaryEntryName>
<ccts:Definition>Fysieke eigenschappen van een aansluiting.</ccts:Definition>
<ccts:BusinessTermName>Fysieke eigenschappen</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MeteringPointGroup" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_PC_Result_PMP_MeteringPointGroup" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MeteringPointGroup">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MeteringPointGroup</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MeteringPointGroup</ccts:DictionaryEntryName>
<ccts:Definition>Groeperen aansluitingen.</ccts:Definition>
<ccts:BusinessTermName>Groep aansluitingen</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_PC_Result_PMP_GridOperator_Company ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_PC_Result_PMP_GridOperator_Company" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GridOperator_Company">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#GridOperator_Company</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>GridOperator_Company</ccts:DictionaryEntryName>
<ccts:Definition>Elektriciteit: een vennootschap die op grond van artikel 10, 13 of 14 van de Elektriciteitswet is aangewezen voor het beheer van een of meer netten.
Gas: een vennootschap die op grond van artikel 2 van de Gaswet is aangewezen voor het beheer van een of meer gastransportnetten.</ccts:Definition>
<ccts:BusinessTermName>Netbeheerder</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID"  type="ccma:SearchMeteringPointsResponseEnvelope_GLNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#GridOperator_Company.ID</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>GridOperator_Company.ID</ccts:DictionaryEntryName>
<ccts:Definition>Unieke identificatie van de marktpartij (LDT1).</ccts:Definition>
<ccts:BusinessTermName>MarktpartijEAN</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Name" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#GridOperator_Company.Name</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>GridOperator_Company.Name</ccts:DictionaryEntryName>
<ccts:Definition>Naam van de marktpartij (LDT3).</ccts:Definition>
<ccts:BusinessTermName>Naam</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_PC_Result_PMP_MeteringPointGroup ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_PC_Result_PMP_MeteringPointGroup" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MeteringPointGroup">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MeteringPointGroup</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MeteringPointGroup</ccts:DictionaryEntryName>
<ccts:Definition>Groeperen aansluitingen.</ccts:Definition>
<ccts:BusinessTermName>Groep aansluitingen</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="PAP"  type="ccma:SearchMeteringPointsResponseEnvelope_PC_Result_PMP_MeteringPointGroup_PAP" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#PAP</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>PAP</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Primair allocatiepunt</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_PC_Result_PMP_MeteringPointGroup_PAP ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_PC_Result_PMP_MeteringPointGroup_PAP" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#PAP</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>PAP</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Primair allocatiepunt</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EANID"  type="ccma:SearchMeteringPointsResponseEnvelope_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#PAP.EANID</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>PAP.EANID</ccts:DictionaryEntryName>
<ccts:Definition>Uniek identificatienummer conform de Europese Artikel Nummering voor de aansluiting (LDT1).</ccts:Definition>
<ccts:BusinessTermName>Aansluiting EAN</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_PC_Result_PMP_MPCC ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_PC_Result_PMP_MPCC" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPCommercialCharacteristics">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPCommercialCharacteristics</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPCommercialCharacteristics</ccts:DictionaryEntryName>
<ccts:Definition>Commerciële kenmerken van een aansluiting.</ccts:Definition>
<ccts:BusinessTermName>Commerciële kenmerken</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="DeterminationComplex"  type="ccma:SearchMeteringPointsResponseEnvelope_YesNoNaType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPCommercialCharacteristics.DeterminationComplex">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPCommercialCharacteristics.DeterminationComplex</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPCommercialCharacteristics.DeterminationComplex</ccts:DictionaryEntryName>
<ccts:Definition>Indicatie van complexbepaling. Alleen van toepassing voor ELK, niet voor GAS (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Complexbepaling indicatie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Residential"  type="ccma:SearchMeteringPointsResponseEnvelope_YesNoNaType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPCommercialCharacteristics.Residential">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPCommercialCharacteristics.Residential</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPCommercialCharacteristics.Residential</ccts:DictionaryEntryName>
<ccts:Definition>Verblijfsfunctie indicatie. Alleen van toepassing voor ELK, niet voor GAS (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Verblijfsfunctie indicatie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_PC_Result_PMP_MPPhysicalCharacteristics ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_PC_Result_PMP_MPPhysicalCharacteristics" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPPhysicalCharacteristics">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPPhysicalCharacteristics</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics</ccts:DictionaryEntryName>
<ccts:Definition>Fysieke eigenschappen van een aansluiting.</ccts:Definition>
<ccts:BusinessTermName>Fysieke eigenschappen</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="AllocationMethod" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_EnergyAllocationMethodType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPPhysicalCharacteristics.AllocationMethod">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPPhysicalCharacteristics.AllocationMethod</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics.AllocationMethod</ccts:DictionaryEntryName>
<ccts:Definition>Allocatie methode van de aansluiting (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Allocatiemethode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContractedCapacity" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_Amount" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPPhysicalCharacteristics.ContractedCapacity">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPPhysicalCharacteristics.ContractedCapacity</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics.ContractedCapacity</ccts:DictionaryEntryName>
<ccts:Definition>Grootverbruik: capaciteit van de aansluiting (LDT3).</ccts:Definition>
<ccts:BusinessTermName>Contractcapaciteit</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="EnergyFlowDirection" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_EnergyFlowDirectionType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPPhysicalCharacteristics.EnergyFlowDirection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPPhysicalCharacteristics.EnergyFlowDirection</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics.EnergyFlowDirection</ccts:DictionaryEntryName>
<ccts:Definition>Leveringsrichting van de energie (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Leveringsrichting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="InvoiceMonth" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_InvoiceMonthType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPPhysicalCharacteristics.InvoiceMonth">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPPhysicalCharacteristics.InvoiceMonth</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics.InvoiceMonth</ccts:DictionaryEntryName>
<ccts:Definition>Factuurmaand (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Afrekenmaand</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MeteringMethod" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_EnergyMeteringMethodType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPPhysicalCharacteristics.MeteringMethod">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPPhysicalCharacteristics.MeteringMethod</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics.MeteringMethod</ccts:DictionaryEntryName>
<ccts:Definition>Meetmethode: maandelijks, jaarlijks, slim, telemetrie etc. (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Wijze van bemeting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="PhysicalCapacity" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_PhysicalCapacityType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPPhysicalCharacteristics.PhysicalCapacity">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPPhysicalCharacteristics.PhysicalCapacity</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics.PhysicalCapacity</ccts:DictionaryEntryName>
<ccts:Definition>Fysieke capaciteit van de aansluiting (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Fysieke capaciteit</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ProfileCategory" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_EnergyUsageProfileType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPPhysicalCharacteristics.ProfileCategory">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPPhysicalCharacteristics.ProfileCategory</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics.ProfileCategory</ccts:DictionaryEntryName>
<ccts:Definition>Eén van de categorieën volgens paragraaf 2 van bijlage 15 van de Meetcode, waarbij netaansluitingen gecategoriseerd worden op basis van objectief vast te stellen kenmerken, zoals tariefcategorie, aansluitwaarde, gecontracteerd transportvermogen en bedrijfstijd en waarbij voor elk van deze categorieën een eigen, voor de desbetreffende categorie kenmerkende reeks profielfracties wordt vastgesteld (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Profielcategorie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Subtype" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_EnergyConnectionSubtypeType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#MPPhysicalCharacteristics.Subtype">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPPhysicalCharacteristics.Subtype</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics.Subtype</ccts:DictionaryEntryName>
<ccts:Definition>Soort aansluiting (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Soort aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: SearchMeteringPointsResponseEnvelope_PC_Result_PMP_Portaal_EnergyMeter ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_PC_Result_PMP_Portaal_EnergyMeter" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_EnergyMeter">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_EnergyMeter</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_EnergyMeter</ccts:DictionaryEntryName>
<ccts:Definition>Apparaat waarmee het energiegebruik geregistreerd kan worden.
Toelichting: De Portaal_EnergyMeter bevat alle eigenschappen die voor het Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Energiemeter</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_EnergyMeterIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Portaal_EnergyMeter.ID</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Portaal_EnergyMeter.ID</ccts:DictionaryEntryName>
<ccts:Definition>Meternummer (LDT2).</ccts:Definition>
<ccts:BusinessTermName>Meternummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Business Data Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: AddressText ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_AddressText">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#AddressText</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>AddressText</ccts:DictionaryEntryName>
<ccts:Definition>[A.10] Straatnaam en [A.11] Woonplaats. Tekst string voor complex datatype Adres (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Adres</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="24"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Amount ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_Amount">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Amount</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Amount</ccts:DictionaryEntryName>
<ccts:Definition>Hoeveelheid (integer) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Hoeveelheid</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:integer">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: BAGIDType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_BAGIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#BAGIDType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>BAGIDType</ccts:DictionaryEntryName>
<ccts:Definition>[A.13] Uniek objectaanduiding binnen een gemeente, bestaande uit 16 cijfers (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Objectnummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="16"/>
<xsd:minLength value="1"/>
<xsd:pattern value="[0-9]*"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: BAGType ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_BAGType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#BAGType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#BAGType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>BAGType</ccts:DictionaryEntryName>
<ccts:Definition>BAG (Basisregistraties Adressen en Gebouwen). De BAG-identifier is verplicht. De BAG-identifier Verblijfsobject is een adresseerbaar object met een relatie tot een Pand. Pand-identifier is derhalve een optioneel attribuut.</ccts:Definition>
<ccts:BusinessTermName>BAG</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="BAGID"  type="ccma:SearchMeteringPointsResponseEnvelope_BAGIDType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#BAGType.BAGID">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#BAGType.BAGID</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>BAGType.BAGID</ccts:DictionaryEntryName>
<ccts:Definition>BAG-identifier voor de drie adresseerbare objecttypen: Verblijfsobjecten, Ligplaatsen en Standplaatsen</ccts:Definition>
<ccts:BusinessTermName>BAG-identifier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="BAGBuildingID" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_BAGIDType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#BAGType.BAGBuildingID">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#BAGType.BAGBuildingID</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>BAGType.BAGBuildingID</ccts:DictionaryEntryName>
<ccts:Definition>BAG-identifier voor Pand</ccts:Definition>
<ccts:BusinessTermName>BAGPand-identifier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: BuildingNumber ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_BuildingNumber">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#BuildingNumber</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>BuildingNumber</ccts:DictionaryEntryName>
<ccts:Definition>[A.08] Huisnummer voor complex datatype Adres (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Huisnummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:integer">
<xsd:maxInclusive value="99999"/>
<xsd:minInclusive value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CountryCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_CountryCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#CountryCode</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>CountryCode</ccts:DictionaryEntryName>
<ccts:Definition>[A.60] Landcode (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Landcode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
<xsd:minLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: DateTime ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#DateTime</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>DateTime</ccts:DictionaryEntryName>
<ccts:Definition>Datum/tijd (dateTime) (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyAllocationMethodType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_EnergyAllocationMethodType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EnergyAllocationMethodType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyAllocationMethodType</ccts:DictionaryEntryName>
<ccts:Definition>[A.40] Code allocatiemethode (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Code allocatiemethode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyConnectionSubtypeType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_EnergyConnectionSubtypeType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EnergyConnectionSubtypeType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyConnectionSubtypeType</ccts:DictionaryEntryName>
<ccts:Definition>[A.26] Waarden zoals momenteel in gebruik door het switchsysteem (verwerken PV-switch). Indien geen waarde is opgegeven door de NB wordt default automatisch &apos;Gewoon&apos; gebruikt (voor NRM-aansluiting) (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Code soort aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyFlowDirectionType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_EnergyFlowDirectionType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EnergyFlowDirectionType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyFlowDirectionType</ccts:DictionaryEntryName>
<ccts:Definition>[A.19] Combinatie indien op de aansluiting naast consumptie (afname uit het net) tevens productie (invoeding op het net) optreedt. Indien geen waarde is opgegeven door de NB wordt default automatisch &lt;i&gt;Levering&lt;/i&gt; gebruikt. Toegestane waarden: LVR, TLV, CMB.
[M.112] Meetrichting per telwerk. Toegestane waarden: LVR, TLV (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Code leveringsrichting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyMeterIDType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_EnergyMeterIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EnergyMeterIDType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyMeterIDType</ccts:DictionaryEntryName>
<ccts:Definition>[M.101] Meternummer (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Meternummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="70"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyMeteringMethodType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_EnergyMeteringMethodType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EnergyMeteringMethodType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyMeteringMethodType</ccts:DictionaryEntryName>
<ccts:Definition>[A.24] Frequentie van bemeting. Geen default: waarde moet expliciet opgegeven worden door de NB (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Code wijze van bemeten</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyProductType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_EnergyProductType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EnergyProductType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyProductType</ccts:DictionaryEntryName>
<ccts:Definition>[A.17] Code productsoort (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Code productsoort</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyUsageProfileType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_EnergyUsageProfileType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#EnergyUsageProfileType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyUsageProfileType</ccts:DictionaryEntryName>
<ccts:Definition>[A.32] Waarden zoals momenteel in gebruik door het switchsysteem (uitwisseling van stamgegevens). Geen default: waarde moet expliciet opgegeven worden door de NB (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Code profielcategorie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: ExBuildingNr ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_ExBuildingNr">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#ExBuildingNr</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>ExBuildingNr</ccts:DictionaryEntryName>
<ccts:Definition>[A.09] Huisnummertoevoeging voor complex datatype Adres (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Huisnummertoevoeging</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: GLNEANCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_GLNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#GLNEANCode</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>GLNEANCode</ccts:DictionaryEntryName>
<ccts:Definition>Global Location Number (GLN) conform de Europese Artikel Nummering (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Global Location Number</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="13"/>
<xsd:pattern value="[0-9]{13}"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: GSRNEANCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#GSRNEANCode</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>GSRNEANCode</ccts:DictionaryEntryName>
<ccts:Definition>Global Service Relation Number (GSRN) conform de Europese Artikel Nummering (LDT categorie-1).</ccts:Definition>
<ccts:BusinessTermName>Global Service Relation Number</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="18"/>
<xsd:pattern value="[0-9]{18}"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Identifier ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Identifier</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Identifier</ccts:DictionaryEntryName>
<ccts:Definition>Identifier (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Identifier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Indicator ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Indicator</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Indicator</ccts:DictionaryEntryName>
<ccts:Definition>Indicator (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Indicator</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: InvoiceMonthType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_InvoiceMonthType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#InvoiceMonthType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>InvoiceMonthType</ccts:DictionaryEntryName>
<ccts:Definition>[A.57] Factuurmaand (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Afrekenmaand</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="2"/>
<xsd:pattern value="[0-1][0-9]"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: LocationDescriptionType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_LocationDescriptionType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#LocationDescriptionType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>LocationDescriptionType</ccts:DictionaryEntryName>
<ccts:Definition>[A.16] Omschrijving locatie aansluiting (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Leveringsadres-locatieomschrijving</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="35"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MarketSegmentType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_MarketSegmentType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MarketSegmentType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MarketSegmentType</ccts:DictionaryEntryName>
<ccts:Definition>[A.18] De bestaande verbruiksegmenten in de (vrije) energiemarkt. Geen default: waarde moet expliciet opgegeven worden door de NB (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Code verbruikssegment</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: MPAddressResponseType ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_MPAddressResponseType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#MPAddressType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPAddressResponseType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressResponseType</ccts:DictionaryEntryName>
<ccts:Definition>Datatype voor adres met alle velden, uitgezonderd de GPS-coördinaten en TNT perceelnummer</ccts:Definition>
<ccts:BusinessTermName>Adres</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="BAG" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_BAGType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#Address.BAG">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPAddressResponseType.BAG</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressResponseType.BAG</ccts:DictionaryEntryName>
<ccts:Definition>BAG (Basisregistraties Adressen en Gebouwen) identificatie (CDT)</ccts:Definition>
<ccts:BusinessTermName>Basisregistraties Adressen en Gebouwen</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="StreetName" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_AddressText" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#Address.StreetName">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPAddressResponseType.StreetName</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressResponseType.StreetName</ccts:DictionaryEntryName>
<ccts:Definition>Tekst string straatnaam, max. 24 karakters</ccts:Definition>
<ccts:BusinessTermName>Straatnaam</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="BuildingNr" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_BuildingNumber" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#Address.BuildingNr">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPAddressResponseType.BuildingNr</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressResponseType.BuildingNr</ccts:DictionaryEntryName>
<ccts:Definition>Cijfer(s) (integer) huisnummer, max. 6 karakters</ccts:Definition>
<ccts:BusinessTermName>Huisnummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ExBuildingNr" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_ExBuildingNr" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#Address.ExBuildingNr">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPAddressResponseType.ExBuildingNr</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressResponseType.ExBuildingNr</ccts:DictionaryEntryName>
<ccts:Definition>Tekst string huisnummertoevoeging, max. 6 karakters</ccts:Definition>
<ccts:BusinessTermName>Huisnummertoevoeging</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ZIPCode" minOccurs="0" maxOccurs="1" type="ccma:SearchMeteringPointsResponseEnvelope_ZIPCode" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#Address.ZIPCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPAddressResponseType.ZIPCode</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressResponseType.ZIPCode</ccts:DictionaryEntryName>
<ccts:Definition>Tekst string postcode, max. 6 karakters</ccts:Definition>
<ccts:BusinessTermName>Postcode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CityName"  type="ccma:SearchMeteringPointsResponseEnvelope_AddressText" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#Address.CityName">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPAddressResponseType.CityName</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressResponseType.CityName</ccts:DictionaryEntryName>
<ccts:Definition>Tekst string woonplaats, max. 24 karakters</ccts:Definition>
<ccts:BusinessTermName>Woonplaats</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Country"  type="ccma:SearchMeteringPointsResponseEnvelope_CountryCode" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#Address.Country">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#MPAddressResponseType.Country</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>MPAddressResponseType.Country</ccts:DictionaryEntryName>
<ccts:Definition>Landcode, 2 karakters (LDT1)</ccts:Definition>
<ccts:BusinessTermName>Landcode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Numeric ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Numeric</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Numeric</ccts:DictionaryEntryName>
<ccts:Definition>Nummer (getal) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Nummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:decimal">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: PhysicalCapacityType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_PhysicalCapacityType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#PhysicalCapacityType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>PhysicalCapacityType</ccts:DictionaryEntryName>
<ccts:Definition>[A.29] Code fysieke capaciteit (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Fysiek capaciteit</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="5"/>
<xsd:minLength value="2"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: RejectionPortaalType ===== -->
<!-- ================================================================== -->
<xsd:complexType name="SearchMeteringPointsResponseEnvelope_RejectionPortaalType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#RejectionPortaalType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#RejectionPortaalType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionPortaalType</ccts:DictionaryEntryName>
<ccts:Definition>Datatype voor inhoudelijke afwijzingen.</ccts:Definition>
<ccts:BusinessTermName>Afwijzingen portaal</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="RejectionCode"  type="ccma:SearchMeteringPointsResponseEnvelope_RejectionReasonType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#RejectionPortaalType.RejectionCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#RejectionPortaalType.RejectionCode</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionPortaalType.RejectionCode</ccts:DictionaryEntryName>
<ccts:Definition>Code van de reden van de afwijzing</ccts:Definition>
<ccts:BusinessTermName>Code afwijsreden</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="RejectionText" minOccurs="0" maxOccurs="1" type="xsd:string" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#RejectionPortaalType.RejectionText">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#RejectionPortaalType.RejectionText</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionPortaalType.RejectionText</ccts:DictionaryEntryName>
<ccts:Definition>Toelichting op de reden van afwijzing</ccts:Definition>
<ccts:BusinessTermName>Toelichting afwijsreden</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: RejectionReasonType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_RejectionReasonType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#RejectionReasonType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionReasonType</ccts:DictionaryEntryName>
<ccts:Definition>Code afwijsreden.</ccts:Definition>
<ccts:BusinessTermName>Code afwijsreden</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Text ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#Text</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>Text</ccts:DictionaryEntryName>
<ccts:Definition>Tekst (string) (LDT categorie-3).</ccts:Definition>
<ccts:BusinessTermName>Tekst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: YesNoNaType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_YesNoNaType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#YesNoNaType</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>YesNoNaType</ccts:DictionaryEntryName>
<ccts:Definition>Code ja, nee of nvt (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Ja, nee of nvt</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: ZIPCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="SearchMeteringPointsResponseEnvelope_ZIPCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:nedu:edsn:data:searchmeteringpointsresponse#ZIPCode</ccts:UniqueID>
<ccts:VersionID>1.6</ccts:VersionID>
<ccts:DictionaryEntryName>ZIPCode</ccts:DictionaryEntryName>
<ccts:Definition>[A.07] Postcode voor complex datatype Adres (LDT categorie-2).</ccts:Definition>
<ccts:BusinessTermName>Postcode</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Business Code List Definitions ===== -->
<!-- ================================================================== -->
</xsd:schema>