resources/xsd/rgo/CreateMeteringPointResponse_2p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!-- ===== CreateMeteringPointResponseEnvelope XML Schema File ===== -->
<!-- ================================================================== -->
<!--
   Schema agency: cmf 
   Schema version: 2.0.0
   Schema date: 16 February 2015

   Copyright (C) cmf (2015). All Rights Reserved.

   This document and the information contained herein is provided on an "AS IS" basis
   and cmf DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
   LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE
   ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
   PURPOSE
-->
<xsd:schema version="2p0" xmlns:ccma="urn:cmf:edsn:data:createmeteringpointresponse:2:standard" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:ccts="urn:un:unece:uncefact:documentation:common:3:standard:CoreComponentsTechnicalSpecification:3" targetNamespace="urn:cmf:edsn:data:createmeteringpointresponse:2:standard" elementFormDefault="qualified" attributeFormDefault="unqualified">
<!-- ================================================================== -->
<!-- ===== Element Declarations ===== -->
<!-- ================================================================== -->
<!-- ===== Root element ===== -->
<!-- ================================================================== -->
<xsd:element name="CreateMeteringPointResponseEnvelope" type="ccma:CreateMeteringPointResponseEnvelope">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CreateMeteringPointResponseEnvelope</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CreateMeteringPointResponseEnvelope</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<!-- ================================================================== -->
<!-- ===== Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CreateMeteringPointResponseEnvelope</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CreateMeteringPointResponseEnvelope</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EDSNBusinessDocumentHeader"  type="ccma:CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAR_Content"  type="ccma:CreateMeteringPointResponseEnvelope_CC" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Content">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_Content</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Content</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Inhoud C-AR-bericht</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_CC ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_CC" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Content">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_Content</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Content</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Inhoud C-AR-bericht</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:choice>
<xsd:element name="CAR_MeteringPoint"  type="ccma:CreateMeteringPointResponseEnvelope_CC_CMP" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_MeteringPoint</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_MeteringPoint</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAR_Rejection"  type="ccma:CreateMeteringPointResponseEnvelope_CC_CRJ" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Rejection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_Rejection</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Rejection</ccts:DictionaryEntryName>
<ccts:Definition>Een afwijzing op een vraag of verzoek. CAR_Rejection (Afwijzing) heeft een relatie met CAR_MeteringPoint (Aansluiting). Bevat geen informatie over CAR_MeteringPoint.</ccts:Definition>
<ccts:BusinessTermName>Afwijzing</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_CC_CMP ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_CC_CMP" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_MeteringPoint</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_MeteringPoint</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EANID"  type="ccma:CreateMeteringPointResponseEnvelope_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_MeteringPoint.EANID</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_MeteringPoint.EANID</ccts:DictionaryEntryName>
<ccts:Definition>Uniek identificatienummer conform de Europese Artikel Nummering voor de aansluiting (LDT).</ccts:Definition>
<ccts:BusinessTermName>Aansluiting EAN</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MPPhysicalCharacteristics"  type="ccma:CreateMeteringPointResponseEnvelope_CC_CMP_MPPC" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#MPPhysicalCharacteristics">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#MPPhysicalCharacteristics</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics</ccts:DictionaryEntryName>
<ccts:Definition>Fysieke eigenschappen van een aansluiting.</ccts:Definition>
<ccts:BusinessTermName>Fysieke eigenschappen aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAR_Mutation" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_CC_CMP_CM" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Mutation">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_Mutation</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Mutation</ccts:DictionaryEntryName>
<ccts:Definition>Wijziging in een bestaande situatie. </ccts:Definition>
<ccts:BusinessTermName>Mutatie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_CC_CMP_CM ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_CC_CMP_CM" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Mutation">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_Mutation</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Mutation</ccts:DictionaryEntryName>
<ccts:Definition>Wijziging in een bestaande situatie. </ccts:Definition>
<ccts:BusinessTermName>Mutatie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ExternalReference" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_ReferenceTextType" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Mutation.ExternalReference">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_Mutation.ExternalReference</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Mutation.ExternalReference</ccts:DictionaryEntryName>
<ccts:Definition>Eigen referentie van de initiërende marktpartij ter vereenvoudiging van zijn eigen interne procesgang. Max. 60 karakters (LDT).</ccts:Definition>
<ccts:BusinessTermName>Referentie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAR_TransactionDossier" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_CC_CMP_CM_CTD" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_TransactionDossier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_TransactionDossier</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_TransactionDossier</ccts:DictionaryEntryName>
<ccts:Definition>Dossier met informatie en identifiers van processen.</ccts:Definition>
<ccts:BusinessTermName>Transactiedossier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_CC_CMP_CM_CTD ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_CC_CMP_CM_CTD" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_TransactionDossier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_TransactionDossier</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_TransactionDossier</ccts:DictionaryEntryName>
<ccts:Definition>Dossier met informatie en identifiers van processen.</ccts:Definition>
<ccts:BusinessTermName>Transactiedossier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID"  type="ccma:CreateMeteringPointResponseEnvelope_TransactionDossierIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_TransactionDossier.ID</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_TransactionDossier.ID</ccts:DictionaryEntryName>
<ccts:Definition>Unieke identificatie van het dossier (LDT).</ccts:Definition>
<ccts:BusinessTermName>Dossiernummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_CC_CMP_MPPC ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_CC_CMP_MPPC" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#MPPhysicalCharacteristics">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#MPPhysicalCharacteristics</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics</ccts:DictionaryEntryName>
<ccts:Definition>Fysieke eigenschappen van een aansluiting.</ccts:Definition>
<ccts:BusinessTermName>Fysieke eigenschappen aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="PhysicalStatus"  type="ccma:CreateMeteringPointResponseEnvelope_EnergyConnectionPhysicalStatusType" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#MPPhysicalCharacteristics.PhysicalStatus">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#MPPhysicalCharacteristics.PhysicalStatus</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>MPPhysicalCharacteristics.PhysicalStatus</ccts:DictionaryEntryName>
<ccts:Definition>Fysieke status van de aansluiting: In aanleg, in bedrijf, etc. (LDT)</ccts:Definition>
<ccts:BusinessTermName>Fysieke status</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_CC_CRJ ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_CC_CRJ" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Rejection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_Rejection</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Rejection</ccts:DictionaryEntryName>
<ccts:Definition>Een afwijzing op een vraag of verzoek. CAR_Rejection (Afwijzing) heeft een relatie met CAR_MeteringPoint (Aansluiting). Bevat geen informatie over CAR_MeteringPoint.</ccts:Definition>
<ccts:BusinessTermName>Afwijzing</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Rejection" minOccurs="1" maxOccurs="unbounded" type="ccma:CreateMeteringPointResponseEnvelope_RejectionCARType" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Rejection.Rejection">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_Rejection.Rejection</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Rejection.Rejection</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAR_MeteringPoint" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_CC_CRJ_CMP" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_MeteringPoint1</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_MeteringPoint</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_CC_CRJ_CMP ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_CC_CRJ_CMP" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_MeteringPoint">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_MeteringPoint1</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_MeteringPoint</ccts:DictionaryEntryName>
<ccts:Definition>Eén of meer verbindingen tussen een net en een onroerende zaak als bedoeld in artikel 16, onderdelen a tot en met d, van de Wet waardering onroerende zaken. 
Toelichting: Portaal-MeteringPoint bevat alle eigenschappen van een aansluiting die voor Portaal relevant kunnen zijn.</ccts:Definition>
<ccts:BusinessTermName>Aansluiting</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="EANID" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_MeteringPoint1.EANID</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_MeteringPoint.EANID</ccts:DictionaryEntryName>
<ccts:Definition>Uniek identificatienummer conform de Europese Artikel Nummering voor de aansluiting (LDT).</ccts:Definition>
<ccts:BusinessTermName>Aansluiting EAN</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAR_Mutation" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_CC_CRJ_CMP_CM" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Mutation">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_Mutation1</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Mutation</ccts:DictionaryEntryName>
<ccts:Definition>Wijziging in een bestaande situatie. </ccts:Definition>
<ccts:BusinessTermName>Mutatie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_CC_CRJ_CMP_CM ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_CC_CRJ_CMP_CM" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Mutation">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_Mutation1</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Mutation</ccts:DictionaryEntryName>
<ccts:Definition>Wijziging in een bestaande situatie. </ccts:Definition>
<ccts:BusinessTermName>Mutatie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ExternalReference" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_ReferenceTextType" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_Mutation.ExternalReference">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_Mutation1.ExternalReference</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_Mutation.ExternalReference</ccts:DictionaryEntryName>
<ccts:Definition>Eigen referentie van de initiërende marktpartij ter vereenvoudiging van zijn eigen interne procesgang. Max. 60 karakters (LDT).</ccts:Definition>
<ccts:BusinessTermName>Referentie</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CAR_TransactionDossier" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_CC_CRJ_CMP_CM_CTD" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_TransactionDossier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_TransactionDossier1</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_TransactionDossier</ccts:DictionaryEntryName>
<ccts:Definition>Dossier met informatie en identifiers van processen.</ccts:Definition>
<ccts:BusinessTermName>Transactiedossier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_CC_CRJ_CMP_CM_CTD ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_CC_CRJ_CMP_CM_CTD" sawsdl:modelReference="urn:cmf:edsn:lom:car:model:5:standard#CAR_TransactionDossier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_TransactionDossier1</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_TransactionDossier</ccts:DictionaryEntryName>
<ccts:Definition>Dossier met informatie en identifiers van processen.</ccts:Definition>
<ccts:BusinessTermName>Transactiedossier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ID"  type="ccma:CreateMeteringPointResponseEnvelope_TransactionDossierIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#CAR_TransactionDossier1.ID</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>CAR_TransactionDossier.ID</ccts:DictionaryEntryName>
<ccts:Definition>Unieke identificatie van het dossier (LDT).</ccts:Definition>
<ccts:BusinessTermName>Dossiernummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#EDSNBusinessDocumentHeader</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ContentHash" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#EDSNBusinessDocumentHeader.ContentHash</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ContentHash</ccts:DictionaryEntryName>
<ccts:Definition>Hash calculation based on business document</ccts:Definition>
<ccts:BusinessTermName>Hash-code berekening</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ConversationID" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#EDSNBusinessDocumentHeader.ConversationID</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ConversationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify all document instances related to a specific business process resulting from an initial service request</ccts:Definition>
<ccts:BusinessTermName>Conversatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CorrelationID" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#EDSNBusinessDocumentHeader.CorrelationID</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CorrelationID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the document instances related to a specific asynchronous process</ccts:Definition>
<ccts:BusinessTermName>Correlatie ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="CreationTimestamp"  type="ccma:CreateMeteringPointResponseEnvelope_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#EDSNBusinessDocumentHeader.CreationTimestamp</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CreationTimestamp</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp when document was created</ccts:Definition>
<ccts:BusinessTermName>Creatie datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="DocumentID" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#EDSNBusinessDocumentHeader.DocumentID</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.DocumentID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to uniquely identify the business document on a functional level</ccts:Definition>
<ccts:BusinessTermName>Document ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ExpiresAt" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#EDSNBusinessDocumentHeader.ExpiresAt</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ExpiresAt</ccts:DictionaryEntryName>
<ccts:Definition>Timestamp indication the expiration of this request</ccts:Definition>
<ccts:BusinessTermName>Uiterste geldigheidsdatum</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MessageID"  type="ccma:CreateMeteringPointResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#EDSNBusinessDocumentHeader.MessageID</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.MessageID</ccts:DictionaryEntryName>
<ccts:Definition>UUID voor het uniek identificeren van elke business document instantie. De UUID wordt uitgegeven door de infrastructuur.
Deze identifier is verplicht.</ccts:Definition>
<ccts:BusinessTermName>Bericht ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ProcessTypeID" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#EDSNBusinessDocumentHeader.ProcessTypeID</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ProcessTypeID</ccts:DictionaryEntryName>
<ccts:Definition>This identifier is used to identify the process type where a document instance belongs to</ccts:Definition>
<ccts:BusinessTermName>Procestype ID</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="RepeatedRequest" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#EDSNBusinessDocumentHeader.RepeatedRequest</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.RepeatedRequest</ccts:DictionaryEntryName>
<ccts:Definition>Correlates message or service with all other messages and service calls related to the same business process</ccts:Definition>
<ccts:BusinessTermName>Herhaling aanvraag</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="TestRequest" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#EDSNBusinessDocumentHeader.TestRequest</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.TestRequest</ccts:DictionaryEntryName>
<ccts:Definition>Indicates if this is a test request</ccts:Definition>
<ccts:BusinessTermName>Testdocument</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Destination"  type="ccma:CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Destination</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Manifest" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Manifest</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Source"  type="ccma:CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Source</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Destination ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Destination">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Destination</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Receiver"  type="ccma:CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Receiver</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="Service" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Service</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Receiver</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Receiver.Authority</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the receiving party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Receiver.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol ontvangende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ReceiverID"  type="ccma:CreateMeteringPointResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Receiver.ReceiverID</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Receiver.ReceiverID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Service ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Service</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
<ccts:Definition>Service to be consumed</ccts:Definition>
<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="ServiceMethod" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Service.ServiceMethod</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceMethod</ccts:DictionaryEntryName>
<ccts:Definition>Identifies a process within the service that processes on the business document</ccts:Definition>
<ccts:BusinessTermName>Functionaliteit van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ServiceName" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Service.ServiceName</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Service.ServiceName</ccts:DictionaryEntryName>
<ccts:Definition>Sender description of service to be carried out on the business document</ccts:Definition>
<ccts:BusinessTermName>Naam van de service</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Manifest ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Manifest">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Manifest</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="NumberofItems"  type="ccma:CreateMeteringPointResponseEnvelope_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Manifest.NumberofItems</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Manifest.NumberofItems</ccts:DictionaryEntryName>
<ccts:Definition>Number of associated items</ccts:Definition>
<ccts:BusinessTermName>Aantal gerelateerde items</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ManifestItem" minOccurs="1" maxOccurs="unbounded" type="ccma:CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#ManifestItem</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#ManifestItem</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Description" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#ManifestItem.Description</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.Description</ccts:DictionaryEntryName>
<ccts:Definition>Text description of the item</ccts:Definition>
<ccts:BusinessTermName>Omschrijving</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="LanguageCode" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#ManifestItem.LanguageCode</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.LanguageCode</ccts:DictionaryEntryName>
<ccts:Definition>ISO 639 language code of the item</ccts:Definition>
<ccts:BusinessTermName>Taal-code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="MimeTypeQualifierCode"  type="ccma:CreateMeteringPointResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#ManifestItem.MimeTypeQualifierCode</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.MimeTypeQualifierCode</ccts:DictionaryEntryName>
<ccts:Definition>MIME Media Types Code describing the content of the item</ccts:Definition>
<ccts:BusinessTermName>MIME Media Type code</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="UniformResourceIdentifier"  type="ccma:CreateMeteringPointResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#ManifestItem.UniformResourceIdentifier</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>ManifestItem.UniformResourceIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>URI of the item
Identifier voor locatie en naam van een attachment</ccts:Definition>
<ccts:BusinessTermName>URI</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Source ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_EDSNBusinessDocumentHeader_Source">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Source</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
<ccts:Definition>Zender van een bericht.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="Authority" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Source.Authority</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source.Authority</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor that qualifies the identifier used to identify the sending party</ccts:Definition>
<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="ContactTypeIdentifier" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Source.ContactTypeIdentifier</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source.ContactTypeIdentifier</ccts:DictionaryEntryName>
<ccts:Definition>Role in this business process</ccts:Definition>
<ccts:BusinessTermName>Rol zendende marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="SenderID"  type="ccma:CreateMeteringPointResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Source.SenderID</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Source.SenderID</ccts:DictionaryEntryName>
<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Business Data Type Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: DateTime ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="CreateMeteringPointResponseEnvelope_DateTime">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#DateTime</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>DateTime</ccts:DictionaryEntryName>
<ccts:Definition>Datum/tijd (dateTime).</ccts:Definition>
<ccts:BusinessTermName>Datum/tijd</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:dateTime"/>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: EnergyConnectionPhysicalStatusType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="CreateMeteringPointResponseEnvelope_EnergyConnectionPhysicalStatusType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#EnergyConnectionPhysicalStatusType</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>EnergyConnectionPhysicalStatusType</ccts:DictionaryEntryName>
<ccts:Definition>Waarden zoals geïdentificeerd door de participerende NB&apos;s. Indien geen waarde is opgegeven door de NB wordt default automatisch &lt;i&gt;In aanleg&lt;/i&gt; gebruikt.</ccts:Definition>
<ccts:BusinessTermName>Code fysieke status</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="3"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: GSRNEANCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="CreateMeteringPointResponseEnvelope_GSRNEANCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#GSRNEANCode</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>GSRNEANCode</ccts:DictionaryEntryName>
<ccts:Definition>Global Service Relation Number (GSRN) conform de Europese Artikel Nummering.</ccts:Definition>
<ccts:BusinessTermName>Global Service Relation Number</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:length value="18"/>
<xsd:pattern value="[0-9]{18}"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Identifier ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="CreateMeteringPointResponseEnvelope_Identifier">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Identifier</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Identifier</ccts:DictionaryEntryName>
<ccts:Definition>Identifier (string).</ccts:Definition>
<ccts:BusinessTermName>Identifier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Indicator ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="CreateMeteringPointResponseEnvelope_Indicator">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Indicator</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Indicator</ccts:DictionaryEntryName>
<ccts:Definition>Indicator (string).</ccts:Definition>
<ccts:BusinessTermName>Indicator</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Numeric ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="CreateMeteringPointResponseEnvelope_Numeric">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Numeric</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Numeric</ccts:DictionaryEntryName>
<ccts:Definition>Nummer (getal).</ccts:Definition>
<ccts:BusinessTermName>Nummer</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:decimal">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: ReferenceTextType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="CreateMeteringPointResponseEnvelope_ReferenceTextType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#ReferenceTextType</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>ReferenceTextType</ccts:DictionaryEntryName>
<ccts:Definition>Referentie (string).</ccts:Definition>
<ccts:BusinessTermName>Referentie tekst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="60"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: RejectionCARType ===== -->
<!-- ================================================================== -->
<xsd:complexType name="CreateMeteringPointResponseEnvelope_RejectionCARType" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#RejectionCARType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#RejectionCARType</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionCARType</ccts:DictionaryEntryName>
<ccts:Definition>Datatype voor inhoudelijke afwijzingen.</ccts:Definition>
<ccts:BusinessTermName>Afwijzingen C-AR</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="RejectionCode"  type="ccma:CreateMeteringPointResponseEnvelope_RejectionReasonCARCode" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#RejectionCARType.RejectionCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#RejectionCARType.RejectionCode</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionCARType.RejectionCode</ccts:DictionaryEntryName>
<ccts:Definition>Code van de reden van de afwijzing.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="RejectionText" minOccurs="0" maxOccurs="1" type="ccma:CreateMeteringPointResponseEnvelope_Text" sawsdl:modelReference="urn:edsn:edsn:lom:cdt:model:2:standard#RejectionCARType.RejectionText">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#RejectionCARType.RejectionText</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionCARType.RejectionText</ccts:DictionaryEntryName>
<ccts:Definition>Toelichting op de reden van afwijzing.</ccts:Definition>
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<!-- ================================================================== -->
<!-- ===== Type Definition: Text ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="CreateMeteringPointResponseEnvelope_Text">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#Text</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>Text</ccts:DictionaryEntryName>
<ccts:Definition>Tekst (string).</ccts:Definition>
<ccts:BusinessTermName>Tekst</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Type Definition: TransactionDossierIDType ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="CreateMeteringPointResponseEnvelope_TransactionDossierIDType">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#TransactionDossierIDType</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>TransactionDossierIDType</ccts:DictionaryEntryName>
<ccts:BusinessTermName>Dossier identifier</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
<xsd:maxLength value="11"/>
<xsd:minLength value="1"/>
</xsd:restriction>
</xsd:simpleType>
<!-- ================================================================== -->
<!-- ===== Business Code List Definitions ===== -->
<!-- ================================================================== -->
<!-- ================================================================== -->
<!-- ===== Type Definition: RejectionReasonCARCode ===== -->
<!-- ================================================================== -->
<xsd:simpleType name="CreateMeteringPointResponseEnvelope_RejectionReasonCARCode">
<xsd:annotation>
<xsd:documentation><ccts:UniqueID>urn:cmf:edsn:data:createmeteringpointresponse#RejectionReasonCARCode</ccts:UniqueID>
<ccts:VersionID>2.0</ccts:VersionID>
<ccts:DictionaryEntryName>RejectionReasonCARCode</ccts:DictionaryEntryName>
<ccts:Definition>Code afwijsreden CAR.</ccts:Definition>
<ccts:BusinessTermName>Code afwijsreden C-AR</ccts:BusinessTermName>
</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>