resources/xsd/file/FileExchangeNotification_1p4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!-- ===== FileExchangeNotificationEnvelope XML Schema File ===== -->
<!-- ================================================================== -->
<!--
   Schema agency: nedu 
   Schema version: 1.4.0
   Schema date: 27 May 2014

   Copyright (C) nedu (2014). All Rights Reserved.

   This document and the information contained herein is provided on an "AS IS" basis
   and nedu DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
   LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE
   ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
   PURPOSE
-->
<xsd:schema xmlns:ccma="urn:nedu:edsn:data:fileexchangenotification:1:standard" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:ccts="urn:un:unece:uncefact:documentation:common:3:standard:CoreComponentsTechnicalSpecification:3" targetNamespace="urn:nedu:edsn:data:fileexchangenotification:1:standard" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1p4">
	<!-- ================================================================== -->
	<!-- ===== Element Declarations ===== -->
	<!-- ================================================================== -->
	<!-- ===== Root element ===== -->
	<!-- ================================================================== -->
	<xsd:element name="FileExchangeNotificationEnvelope" type="ccma:FileExchangeNotificationEnvelope">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#FileExchangeNotificationEnvelope</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>FileExchangeNotificationEnvelope</ccts:DictionaryEntryName>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ================================================================== -->
	<!-- ===== Type Definitions ===== -->
	<!-- ================================================================== -->
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileExchangeNotificationEnvelope ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileExchangeNotificationEnvelope">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#FileExchangeNotificationEnvelope</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>FileExchangeNotificationEnvelope</ccts:DictionaryEntryName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="EDSNBusinessDocumentHeader" type="ccma:FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#EDSNBusinessDocumentHeader</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Portaal_Content" type="ccma:FileExchangeNotificationEnvelope_PC" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Content">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Portaal_Content</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>Portaal_Content</ccts:DictionaryEntryName>
						<ccts:Definition>Inhoud van een Portaal-bericht. Is een container-element op het hoogste niveau en wordt in elk bericht toegepast.</ccts:Definition>
						<ccts:BusinessTermName>Inhoud Portaal-bericht</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#EDSNBusinessDocumentHeader</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader</ccts:DictionaryEntryName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ContentHash" type="ccma:FileExchangeNotificationEnvelope_Text" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#EDSNBusinessDocumentHeader.ContentHash</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ContentHash</ccts:DictionaryEntryName>
						<ccts:Definition>Hash calculation based on business document</ccts:Definition>
						<ccts:BusinessTermName>Hash-code berekening</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConversationID" type="ccma:FileExchangeNotificationEnvelope_Identifier" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#EDSNBusinessDocumentHeader.ConversationID</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ConversationID</ccts:DictionaryEntryName>
						<ccts:Definition>This identifier is used to identify all document instances related to a specific business process resulting from an initial service request</ccts:Definition>
						<ccts:BusinessTermName>Conversatie ID</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CorrelationID" type="ccma:FileExchangeNotificationEnvelope_Identifier" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#EDSNBusinessDocumentHeader.CorrelationID</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CorrelationID</ccts:DictionaryEntryName>
						<ccts:Definition>This identifier is used to identify the document instances related to a specific asynchronous process</ccts:Definition>
						<ccts:BusinessTermName>Correlatie ID</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CreationTimestamp" type="ccma:FileExchangeNotificationEnvelope_DateTime">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#EDSNBusinessDocumentHeader.CreationTimestamp</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.CreationTimestamp</ccts:DictionaryEntryName>
						<ccts:Definition>Timestamp when document was created</ccts:Definition>
						<ccts:BusinessTermName>Creatie datum/tijd</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DocumentID" type="ccma:FileExchangeNotificationEnvelope_Text" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#EDSNBusinessDocumentHeader.DocumentID</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.DocumentID</ccts:DictionaryEntryName>
						<ccts:Definition>This identifier is used to uniquely identify the business document on a functional level</ccts:Definition>
						<ccts:BusinessTermName>Document ID</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExpiresAt" type="ccma:FileExchangeNotificationEnvelope_DateTime" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#EDSNBusinessDocumentHeader.ExpiresAt</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ExpiresAt</ccts:DictionaryEntryName>
						<ccts:Definition>Timestamp indication the expiration of this request</ccts:Definition>
						<ccts:BusinessTermName>Uiterste geldigheidsdatum</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MessageID" type="ccma:FileExchangeNotificationEnvelope_Identifier">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#EDSNBusinessDocumentHeader.MessageID</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.MessageID</ccts:DictionaryEntryName>
						<ccts:Definition>UUID voor het uniek identificeren van elke business document instantie. De UUID wordt uitgegeven door de infrastructuur.
Deze identifier is verplicht.</ccts:Definition>
						<ccts:BusinessTermName>Bericht ID</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProcessTypeID" type="ccma:FileExchangeNotificationEnvelope_Text" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#EDSNBusinessDocumentHeader.ProcessTypeID</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.ProcessTypeID</ccts:DictionaryEntryName>
						<ccts:Definition>This identifier is used to identify the process type where a document instance belongs to</ccts:Definition>
						<ccts:BusinessTermName>Procestype ID</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RepeatedRequest" type="ccma:FileExchangeNotificationEnvelope_Identifier" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#EDSNBusinessDocumentHeader.RepeatedRequest</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.RepeatedRequest</ccts:DictionaryEntryName>
						<ccts:Definition>Correlates message or service with all other messages and service calls related to the same business process</ccts:Definition>
						<ccts:BusinessTermName>Herhaling aanvraag</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TestRequest" type="ccma:FileExchangeNotificationEnvelope_Indicator" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#EDSNBusinessDocumentHeader.TestRequest</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>EDSNBusinessDocumentHeader.TestRequest</ccts:DictionaryEntryName>
						<ccts:Definition>Indicates if this is a test request</ccts:Definition>
						<ccts:BusinessTermName>Testdocument</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Destination" type="ccma:FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Destination">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Destination</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
						<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Manifest" type="ccma:FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Manifest" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Manifest</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
						<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Source" type="ccma:FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Source">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Source</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
						<ccts:Definition>Zender van een bericht.</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Destination ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Destination">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Destination</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>Destination</ccts:DictionaryEntryName>
				<ccts:BusinessTermName>Bestemming</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Receiver" type="ccma:FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Receiver</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
						<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Service" type="ccma:FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Destination_Service" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Service</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
						<ccts:Definition>Service to be consumed</ccts:Definition>
						<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Receiver</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>Receiver</ccts:DictionaryEntryName>
				<ccts:Definition>Ontvanger van een bericht.</ccts:Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Authority" type="ccma:FileExchangeNotificationEnvelope_Text" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Receiver.Authority</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>Receiver.Authority</ccts:DictionaryEntryName>
						<ccts:Definition>Descriptor that qualifies the identifier used to identify the receiving party</ccts:Definition>
						<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContactTypeIdentifier" type="ccma:FileExchangeNotificationEnvelope_Text" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Receiver.ContactTypeIdentifier</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>Receiver.ContactTypeIdentifier</ccts:DictionaryEntryName>
						<ccts:Definition>Role in this business process</ccts:Definition>
						<ccts:BusinessTermName>Rol ontvangende marktpartij</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReceiverID" type="ccma:FileExchangeNotificationEnvelope_Identifier">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Receiver.ReceiverID</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>Receiver.ReceiverID</ccts:DictionaryEntryName>
						<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
						<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Destination_Service ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Service</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>Service</ccts:DictionaryEntryName>
				<ccts:Definition>Service to be consumed</ccts:Definition>
				<ccts:BusinessTermName>Dienst</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceMethod" type="ccma:FileExchangeNotificationEnvelope_Text" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Service.ServiceMethod</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>Service.ServiceMethod</ccts:DictionaryEntryName>
						<ccts:Definition>Identifies a process within the service that processes on the business document</ccts:Definition>
						<ccts:BusinessTermName>Functionaliteit van de service</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ServiceName" type="ccma:FileExchangeNotificationEnvelope_Text" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Service.ServiceName</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>Service.ServiceName</ccts:DictionaryEntryName>
						<ccts:Definition>Sender description of service to be carried out on the business document</ccts:Definition>
						<ccts:BusinessTermName>Naam van de service</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Manifest ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Manifest">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Manifest</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>Manifest</ccts:DictionaryEntryName>
				<ccts:Definition>Aangave van bijlagen en gerelateerde documenten.</ccts:Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumberofItems" type="ccma:FileExchangeNotificationEnvelope_Numeric">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Manifest.NumberofItems</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>Manifest.NumberofItems</ccts:DictionaryEntryName>
						<ccts:Definition>Number of associated items</ccts:Definition>
						<ccts:BusinessTermName>Aantal gerelateerde items</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ManifestItem" type="ccma:FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#ManifestItem</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
						<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#ManifestItem</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>ManifestItem</ccts:DictionaryEntryName>
				<ccts:Definition>Bevat informatie over het gereferenceerde item.</ccts:Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" type="ccma:FileExchangeNotificationEnvelope_Text" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#ManifestItem.Description</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>ManifestItem.Description</ccts:DictionaryEntryName>
						<ccts:Definition>Text description of the item</ccts:Definition>
						<ccts:BusinessTermName>Omschrijving</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LanguageCode" type="ccma:FileExchangeNotificationEnvelope_Text" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#ManifestItem.LanguageCode</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>ManifestItem.LanguageCode</ccts:DictionaryEntryName>
						<ccts:Definition>ISO 639 language code of the item</ccts:Definition>
						<ccts:BusinessTermName>Taal-code</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MimeTypeQualifierCode" type="ccma:FileExchangeNotificationEnvelope_Text">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#ManifestItem.MimeTypeQualifierCode</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>ManifestItem.MimeTypeQualifierCode</ccts:DictionaryEntryName>
						<ccts:Definition>MIME Media Types Code describing the content of the item</ccts:Definition>
						<ccts:BusinessTermName>MIME Media Type code</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UniformResourceIdentifier" type="ccma:FileExchangeNotificationEnvelope_Text">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#ManifestItem.UniformResourceIdentifier</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>ManifestItem.UniformResourceIdentifier</ccts:DictionaryEntryName>
						<ccts:Definition>URI of the item
Identifier voor locatie en naam van een attachment</ccts:Definition>
						<ccts:BusinessTermName>URI</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Source ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileExchangeNotificationEnvelope_EDSNBusinessDocumentHeader_Source">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Source</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>Source</ccts:DictionaryEntryName>
				<ccts:Definition>Zender van een bericht.</ccts:Definition>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Authority" type="ccma:FileExchangeNotificationEnvelope_Text" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Source.Authority</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>Source.Authority</ccts:DictionaryEntryName>
						<ccts:Definition>Descriptor that qualifies the identifier used to identify the sending party</ccts:Definition>
						<ccts:BusinessTermName>Kwalificatie marktpartij</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContactTypeIdentifier" type="ccma:FileExchangeNotificationEnvelope_Text" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Source.ContactTypeIdentifier</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>Source.ContactTypeIdentifier</ccts:DictionaryEntryName>
						<ccts:Definition>Role in this business process</ccts:Definition>
						<ccts:BusinessTermName>Rol zendende marktpartij</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SenderID" type="ccma:FileExchangeNotificationEnvelope_Identifier">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Source.SenderID</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>Source.SenderID</ccts:DictionaryEntryName>
						<ccts:Definition>Descriptor with information to identify this party</ccts:Definition>
						<ccts:BusinessTermName>Identificatie marktpartij</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileExchangeNotificationEnvelope_PC ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileExchangeNotificationEnvelope_PC" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#Portaal_Content">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Portaal_Content</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>Portaal_Content</ccts:DictionaryEntryName>
				<ccts:Definition>Inhoud van een Portaal-bericht. Is een container-element op het hoogste niveau en wordt in elk bericht toegepast.</ccts:Definition>
				<ccts:BusinessTermName>Inhoud Portaal-bericht</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GenericFileDetails" type="ccma:FileExchangeNotificationEnvelope_PC_GenericFileDetails" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GenericFileDetails">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GenericFileDetails</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>GenericFileDetails</ccts:DictionaryEntryName>
						<ccts:Definition>Generieke bestandsgegevens.</ccts:Definition>
						<ccts:BusinessTermName>Generieke bestandsgegevens</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileExchangeNotificationEnvelope_PC_GenericFileDetails ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileExchangeNotificationEnvelope_PC_GenericFileDetails" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GenericFileDetails">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GenericFileDetails</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>GenericFileDetails</ccts:DictionaryEntryName>
				<ccts:Definition>Generieke bestandsgegevens.</ccts:Definition>
				<ccts:BusinessTermName>Generieke bestandsgegevens</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="From" type="ccma:FileExchangeNotificationEnvelope_GLNEANCode" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GenericFileDetails.From">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GenericFileDetails.From</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>GenericFileDetails.From</ccts:DictionaryEntryName>
						<ccts:Definition>Zender (EAN13) (LDT).</ccts:Definition>
						<ccts:BusinessTermName>Zender</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="To" type="ccma:FileExchangeNotificationEnvelope_GLNEANCode" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GenericFileDetails.To">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GenericFileDetails.To</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>GenericFileDetails.To</ccts:DictionaryEntryName>
						<ccts:Definition>Ontvanger (EAN13) (LDT).</ccts:Definition>
						<ccts:BusinessTermName>Ontvanger</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FileName" type="ccma:FileExchangeNotificationEnvelope_FileNameType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GenericFileDetails.FileName">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GenericFileDetails.FileName</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>GenericFileDetails.FileName</ccts:DictionaryEntryName>
						<ccts:Definition>Bestandsnaam, max. 100 karakters (LDT).</ccts:Definition>
						<ccts:BusinessTermName>Bestandsnaam</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FileSort" type="ccma:FileExchangeNotificationEnvelope_FileSortCode" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GenericFileDetails.FileSort">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GenericFileDetails.FileSort</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>GenericFileDetails.FileSort</ccts:DictionaryEntryName>
						<ccts:Definition>Bestand dat opgeleverd/opgehaald wordt (LDT).</ccts:Definition>
						<ccts:BusinessTermName>Soort bestand</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExchangeChannel" type="ccma:FileExchangeNotificationEnvelope_ChannelCode" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GenericFileDetails.ExchangeChannel">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GenericFileDetails.ExchangeChannel</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>GenericFileDetails.ExchangeChannel</ccts:DictionaryEntryName>
						<ccts:Definition>Kanaal waarover het bestand beschikbaar is (SFTP of GBU) (EDT).</ccts:Definition>
						<ccts:BusinessTermName>Kanaal</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TotalNumberSegments" type="ccma:FileExchangeNotificationEnvelope_NumberSegmentType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GenericFileDetails.TotalNumberSegments">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GenericFileDetails.TotalNumberSegments</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>GenericFileDetails.TotalNumberSegments</ccts:DictionaryEntryName>
						<ccts:Definition>Aantal deelbestanden (max. 3 cijfers) waarin het bestand is opgeknipt (LDT).</ccts:Definition>
						<ccts:BusinessTermName>Aantal delen</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExternalReference" type="ccma:FileExchangeNotificationEnvelope_ReferenceTextType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GenericFileDetails.ExternalReference">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GenericFileDetails.ExternalReference</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>GenericFileDetails.ExternalReference</ccts:DictionaryEntryName>
						<ccts:Definition>Eigen referentie van de initiërende marktpartij ter vereenvoudiging van zijn eigen interne procesgang. Max. 60 karakters (LDT).</ccts:Definition>
						<ccts:BusinessTermName>Referentie</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Note" type="ccma:FileExchangeNotificationEnvelope_NoteType" minOccurs="0" maxOccurs="1" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GenericFileDetails.Note">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GenericFileDetails.Note</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>GenericFileDetails.Note</ccts:DictionaryEntryName>
						<ccts:Definition>Toelichting, max. 100 karakters (LDT).</ccts:Definition>
						<ccts:BusinessTermName>Toelichting</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Hash" type="ccma:FileExchangeNotificationEnvelope_HashMD5Type" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GenericFileDetails.Hash">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GenericFileDetails.Hash</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>GenericFileDetails.Hash</ccts:DictionaryEntryName>
						<ccts:Definition>Berekende MD5 hashwaarde van het bestand weergegeven als een 32-cijferig hexadecimaal getal (LDT).</ccts:Definition>
						<ccts:BusinessTermName>Hash</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:choice>
				<xsd:element name="GBUFileDetails" type="ccma:FileExchangeNotificationEnvelope_PC_GenericFileDetails_GBUFileDetails" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GBUFileDetails">
					<xsd:annotation>
						<xsd:documentation>
							<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GBUFileDetails</ccts:UniqueID>
							<ccts:VersionID>1.4</ccts:VersionID>
							<ccts:DictionaryEntryName>GBUFileDetails</ccts:DictionaryEntryName>
							<ccts:Definition>GBU bestandsgegevens (per deel).</ccts:Definition>
							<ccts:BusinessTermName>GBU bestandsgegevens</ccts:BusinessTermName>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="SFTPFileDetails" type="ccma:FileExchangeNotificationEnvelope_PC_GenericFileDetails_SFTPFileDetails" minOccurs="1" maxOccurs="unbounded" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#SFTPFileDetails">
					<xsd:annotation>
						<xsd:documentation>
							<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#SFTPFileDetails</ccts:UniqueID>
							<ccts:VersionID>1.4</ccts:VersionID>
							<ccts:DictionaryEntryName>SFTPFileDetails</ccts:DictionaryEntryName>
							<ccts:Definition>SFTP bestandsgegevens (per deel).</ccts:Definition>
							<ccts:BusinessTermName>SFTP bestandsgegevens</ccts:BusinessTermName>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileExchangeNotificationEnvelope_PC_GenericFileDetails_GBUFileDetails ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileExchangeNotificationEnvelope_PC_GenericFileDetails_GBUFileDetails" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GBUFileDetails">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GBUFileDetails</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>GBUFileDetails</ccts:DictionaryEntryName>
				<ccts:Definition>GBU bestandsgegevens (per deel).</ccts:Definition>
				<ccts:BusinessTermName>GBU bestandsgegevens</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumberSegment" type="ccma:FileExchangeNotificationEnvelope_NumberSegmentType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GBUFileDetails.NumberSegment">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GBUFileDetails.NumberSegment</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>GBUFileDetails.NumberSegment</ccts:DictionaryEntryName>
						<ccts:Definition>Indicatie (volgnummer, max. 3 cijfers) van het (deel)bestand (LDT).</ccts:Definition>
						<ccts:BusinessTermName>Deel nr</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Hash" type="ccma:FileExchangeNotificationEnvelope_HashMD5Type" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GBUFileDetails.Hash">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GBUFileDetails.Hash</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>GBUFileDetails.Hash</ccts:DictionaryEntryName>
						<ccts:Definition>Berekende MD5 hashwaarde van het (deel)bestand weergegeven als een 32-cijferig hexadecimaal getal (LDT).</ccts:Definition>
						<ccts:BusinessTermName>Hash van deel</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GBUFileID" type="ccma:FileExchangeNotificationEnvelope_FileIDType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GBUFileDetails.GBUFileID">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GBUFileDetails.GBUFileID</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>GBUFileDetails.GBUFileID</ccts:DictionaryEntryName>
						<ccts:Definition>Unieke ID dat binnen GBU aan het (deel)bestand is toegekend. Max. 40 karakters (LDT).</ccts:Definition>
						<ccts:BusinessTermName>GBU bestand ID</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GBUFileSort" type="ccma:FileExchangeNotificationEnvelope_FileSortCode" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GBUFileDetails.GBUFileSort">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GBUFileDetails.GBUFileSort</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>GBUFileDetails.GBUFileSort</ccts:DictionaryEntryName>
						<ccts:Definition>Bestand dat opgeleverd/opgehaald wordt (LDT).</ccts:Definition>
						<ccts:BusinessTermName>GBU bestandstype</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GBUExchangeGroup" type="ccma:FileExchangeNotificationEnvelope_ExchangeGroupType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#GBUFileDetails.GBUExchangeGroup">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GBUFileDetails.GBUExchangeGroup</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>GBUFileDetails.GBUExchangeGroup</ccts:DictionaryEntryName>
						<ccts:Definition>Uitwisselgroep die binnen GBU aan het (deel)bestand is toegekend. Max. 32 karakters (LDT).</ccts:Definition>
						<ccts:BusinessTermName>GBU uitwisselgroep</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileExchangeNotificationEnvelope_PC_GenericFileDetails_SFTPFileDetails ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileExchangeNotificationEnvelope_PC_GenericFileDetails_SFTPFileDetails" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#SFTPFileDetails">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#SFTPFileDetails</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>SFTPFileDetails</ccts:DictionaryEntryName>
				<ccts:Definition>SFTP bestandsgegevens (per deel).</ccts:Definition>
				<ccts:BusinessTermName>SFTP bestandsgegevens</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="NumberSegment" type="ccma:FileExchangeNotificationEnvelope_NumberSegmentType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#SFTPFileDetails.NumberSegment">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#SFTPFileDetails.NumberSegment</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>SFTPFileDetails.NumberSegment</ccts:DictionaryEntryName>
						<ccts:Definition>Indicatie (volgnummer, max. 3 cijfers) van het (deel)bestand (LDT).</ccts:Definition>
						<ccts:BusinessTermName>Deel nr</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Hash" type="ccma:FileExchangeNotificationEnvelope_HashMD5Type" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#SFTPFileDetails.Hash">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#SFTPFileDetails.Hash</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>SFTPFileDetails.Hash</ccts:DictionaryEntryName>
						<ccts:Definition>Berekende MD5 hashwaarde van het (deel)bestand weergegeven als een 32-cijferig hexadecimaal getal (LDT).</ccts:Definition>
						<ccts:BusinessTermName>Hash van deel</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SFTPLocation" type="ccma:FileExchangeNotificationEnvelope_LocationType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#SFTPFileDetails.SFTPLocation">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#SFTPFileDetails.SFTPLocation</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>SFTPFileDetails.SFTPLocation</ccts:DictionaryEntryName>
						<ccts:Definition>Locatie van het (deel)bestand op sFTP server. Max. 1000 karakters (LDT).</ccts:Definition>
						<ccts:BusinessTermName>Bestandslocatie</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SFTPFileName" type="ccma:FileExchangeNotificationEnvelope_FileNameType" sawsdl:modelReference="urn:nedu:edsn:lom:portaal:model:1:standard#SFTPFileDetails.SFTPFileName">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#SFTPFileDetails.SFTPFileName</ccts:UniqueID>
						<ccts:VersionID>1.4</ccts:VersionID>
						<ccts:DictionaryEntryName>SFTPFileDetails.SFTPFileName</ccts:DictionaryEntryName>
						<ccts:Definition>Bestandsnaam van het (deel)bestand op de sFTP server. Max. 100 karakters (LDT).</ccts:Definition>
						<ccts:BusinessTermName>Bestandsnaam</ccts:BusinessTermName>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Business Data Type Definitions ===== -->
	<!-- ================================================================== -->
	<!-- ================================================================== -->
	<!-- ===== Type Definition: DateTime ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_DateTime">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#DateTime</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>DateTime</ccts:DictionaryEntryName>
				<ccts:Definition>Datum/tijd (dateTime).</ccts:Definition>
				<ccts:BusinessTermName>Datum/tijd</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: ExchangeGroupType ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_ExchangeGroupType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#ExchangeGroupType</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>ExchangeGroupType</ccts:DictionaryEntryName>
				<ccts:BusinessTermName>Uitwisselgroep</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="32"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileIDType ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_FileIDType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#FileIDType</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>FileIDType</ccts:DictionaryEntryName>
				<ccts:BusinessTermName>Unieke bestand ID</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileNameType ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_FileNameType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#FileNameType</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>FileNameType</ccts:DictionaryEntryName>
				<ccts:BusinessTermName>Bestandnaam</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: GLNEANCode ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_GLNEANCode">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#GLNEANCode</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>GLNEANCode</ccts:DictionaryEntryName>
				<ccts:Definition>Global Location Number (GLN) conform de Europese Artikel Nummering.</ccts:Definition>
				<ccts:BusinessTermName>Global Location Number</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="13"/>
			<xsd:pattern value="[0-9]{13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: HashMD5Type ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_HashMD5Type">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#HashMD5Type</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>HashMD5Type</ccts:DictionaryEntryName>
				<ccts:Definition>Berekende MD5 hashwaarde weergegeven als een 32-cijferig hexadecimaal getal.</ccts:Definition>
				<ccts:BusinessTermName>MD5 Hash</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: Identifier ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_Identifier">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Identifier</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>Identifier</ccts:DictionaryEntryName>
				<ccts:Definition>Identifier (string).</ccts:Definition>
				<ccts:BusinessTermName>Identifier</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: Indicator ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_Indicator">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Indicator</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>Indicator</ccts:DictionaryEntryName>
				<ccts:Definition>Indicator (string).</ccts:Definition>
				<ccts:BusinessTermName>Indicator</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: LocationType ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_LocationType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#LocationType</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>LocationType</ccts:DictionaryEntryName>
				<ccts:BusinessTermName>Locatie</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1000"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: NoteType ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_NoteType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#NoteType</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>NoteType</ccts:DictionaryEntryName>
				<ccts:BusinessTermName>Toelichting</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: NumberSegmentType ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_NumberSegmentType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#NumberSegmentType</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>NumberSegmentType</ccts:DictionaryEntryName>
				<ccts:Definition>Het aantal delen waarin de dataset is opgeknipt of indicatie van het deel van de dataset.</ccts:Definition>
				<ccts:BusinessTermName>Nummer</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="999"/>
			<xsd:minInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: Numeric ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_Numeric">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Numeric</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>Numeric</ccts:DictionaryEntryName>
				<ccts:Definition>Nummer (getal).</ccts:Definition>
				<ccts:BusinessTermName>Nummer</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: ReferenceTextType ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_ReferenceTextType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#ReferenceTextType</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>ReferenceTextType</ccts:DictionaryEntryName>
				<ccts:Definition>Referentie (string).</ccts:Definition>
				<ccts:BusinessTermName>Referentie tekst</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="60"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: Text ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_Text">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#Text</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>Text</ccts:DictionaryEntryName>
				<ccts:Definition>Tekst (string).</ccts:Definition>
				<ccts:BusinessTermName>Tekst</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Business Code List Definitions ===== -->
	<!-- ================================================================== -->
	<!-- ================================================================== -->
	<!-- ===== Type Definition: ChannelCode ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_ChannelCode">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangenotification#ChannelCode</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>ChannelCode</ccts:DictionaryEntryName>
				<ccts:Definition>Code kanaal (GBU of SFTP).</ccts:Definition>
				<ccts:BusinessTermName>Code kanaal (GBU of SFTP)</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="GBU">
				<xsd:annotation>
					<xsd:documentation>Generieke Bestandsuitwisseling</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SFTP">
				<xsd:annotation>
					<xsd:documentation>SSH File Transfer Protocol</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileSortCode ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileExchangeNotificationEnvelope_FileSortCode">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:UniqueID>urn:nedu:edsn:data:fileexchangeresponse#FileSortCode</ccts:UniqueID>
				<ccts:VersionID>1.4</ccts:VersionID>
				<ccts:DictionaryEntryName>FileSortCode</ccts:DictionaryEntryName>
				<ccts:Definition>Soort bestand.</ccts:Definition>
				<ccts:BusinessTermName>Code soort bestand</ccts:BusinessTermName>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
