resources/xsd/file/FileListQuery_1p0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!-- ===== FileListQueryEnvelope XML Schema File ===== -->
<!-- ================================================================== -->
<!--
   Schema agency: nedu 
   Schema version: 1.0.0
   Schema date: 19 October 2012

   Copyright (C) nedu (2012). All Rights Reserved.

   This document and the information contained herein is provided on an "AS IS" basis
   and nedu DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT
   LIMITED TO ANY WARRANTY THAT THE USE OF THE INFORMATION HEREIN WILL NOT INFRINGE
   ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR
   PURPOSE
-->
<!-- ================================================================== -->
<!-- ===== Annotations ===== -->
<!-- ================================================================== -->
<!--
urn:nl:edsn:service:filelistquery:env:1
-->
<xsd:schema xmlns:ccma="urn:nl:edsn:service:filelistquery:env:1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:nl:edsn:service:filelistquery:env:1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1p0">
	<!-- ================================================================== -->
	<!-- ===== Element Declarations ===== -->
	<!-- ================================================================== -->
	<!-- ===== Root element ===== -->
	<!-- ================================================================== -->
	<xsd:element name="FileListQueryEnvelope" type="ccma:FileListQueryEnvelope"/>
	<!-- ================================================================== -->
	<!-- ===== Type Definitions ===== -->
	<!-- ================================================================== -->
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileListQueryEnvelope ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileListQueryEnvelope">
		<xsd:sequence>
			<xsd:element name="EDSNBusinessDocumentHeader" type="ccma:FileListQueryEnvelope_EDSNBusinessDocumentHeader"/>
			<xsd:element name="FileListQueryContent" type="ccma:FileListQueryEnvelope_FileListQueryContent"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileListQueryEnvelope_EDSNBusinessDocumentHeader ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileListQueryEnvelope_EDSNBusinessDocumentHeader">
		<xsd:sequence>
			<xsd:element name="ContentHash" type="ccma:FileListQueryEnvelope_Text" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Hash calculation based on business document</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ConversationID" type="ccma:FileListQueryEnvelope_Identifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This identifier is used to identify all document instances related to a specific business process resulting from an initial service request</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CorrelationID" type="ccma:FileListQueryEnvelope_Identifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This identifier is used to identify the document instances related to a specific asynchronous process</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CreationTimestamp" type="ccma:FileListQueryEnvelope_DateTime">
				<xsd:annotation>
					<xsd:documentation>Timestamp when document was created</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Destination" type="ccma:FileListQueryEnvelope_EDSNBusinessDocumentHeader_Destination"/>
			<xsd:element name="DocumentID" type="ccma:FileListQueryEnvelope_Text" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This identifier is used to uniquely identify the business document on a functional level</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExpiresAt" type="ccma:FileListQueryEnvelope_DateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Timestamp indication the expiration of this request</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Manifest" type="ccma:FileListQueryEnvelope_EDSNBusinessDocumentHeader_Manifest" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Aangave van bijlagen en gerelateerde documenten.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MessageID" type="ccma:FileListQueryEnvelope_Identifier">
				<xsd:annotation>
					<xsd:documentation>UUID voor het uniek identificeren van elke business document instantie. De UUID wordt uitgegeven door de infrastructuur.
Deze identifier is verplicht.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ProcessTypeID" type="ccma:FileListQueryEnvelope_Text" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>This identifier is used to identify the process type where a document instance belongs to</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RepeatedRequest" type="ccma:FileListQueryEnvelope_Indicator" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Correlates message or service with all other messages and service calls related to the same business process</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Source" type="ccma:FileListQueryEnvelope_EDSNBusinessDocumentHeader_Source">
				<xsd:annotation>
					<xsd:documentation>Zender van een bericht.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TestRequest" type="ccma:FileListQueryEnvelope_Indicator" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Indicates if this is a test request</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileListQueryEnvelope_EDSNBusinessDocumentHeader_Destination ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileListQueryEnvelope_EDSNBusinessDocumentHeader_Destination">
		<xsd:sequence>
			<xsd:element name="Receiver" type="ccma:FileListQueryEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
				<xsd:annotation>
					<xsd:documentation>Ontvanger van een bericht.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Service" type="ccma:FileListQueryEnvelope_EDSNBusinessDocumentHeader_Destination_Service" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Service to be consumed</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileListQueryEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileListQueryEnvelope_EDSNBusinessDocumentHeader_Destination_Receiver">
		<xsd:annotation>
			<xsd:documentation>Ontvanger van een bericht.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Authority" type="ccma:FileListQueryEnvelope_Text" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Descriptor that qualifies the identifier used to identify the receiving party</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContactTypeIdentifier" type="ccma:FileListQueryEnvelope_Text" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Role in this business process</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReceiverID" type="ccma:FileListQueryEnvelope_GLNEANCode">
				<xsd:annotation>
					<xsd:documentation>Descriptor with information to identify this party</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileListQueryEnvelope_EDSNBusinessDocumentHeader_Destination_Service ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileListQueryEnvelope_EDSNBusinessDocumentHeader_Destination_Service">
		<xsd:annotation>
			<xsd:documentation>Service to be consumed</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ServiceMethod" type="ccma:FileListQueryEnvelope_Text" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifies a process within the service that processes on the business document</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ServiceName" type="ccma:FileListQueryEnvelope_Text" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Sender description of service to be carried out on the business document</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileListQueryEnvelope_EDSNBusinessDocumentHeader_Manifest ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileListQueryEnvelope_EDSNBusinessDocumentHeader_Manifest">
		<xsd:annotation>
			<xsd:documentation>Aangave van bijlagen en gerelateerde documenten.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ManifestItem" type="ccma:FileListQueryEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Bevat informatie over het gereferenceerde item.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberofItems" type="ccma:FileListQueryEnvelope_Numeric">
				<xsd:annotation>
					<xsd:documentation>Number of associated items</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileListQueryEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileListQueryEnvelope_EDSNBusinessDocumentHeader_Manifest_ManifestItem">
		<xsd:annotation>
			<xsd:documentation>Bevat informatie over het gereferenceerde item.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Description" type="ccma:FileListQueryEnvelope_Text" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Text description of the item</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LanguageCode" type="ccma:FileListQueryEnvelope_Text" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ISO 639 language code of the item</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MimeTypeQualifierCode" type="ccma:FileListQueryEnvelope_Text">
				<xsd:annotation>
					<xsd:documentation>MIME Media Types Code describing the content of the item</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UniformResourceIdentifier" type="ccma:FileListQueryEnvelope_Text">
				<xsd:annotation>
					<xsd:documentation>URI of the item
Identifier voor locatie en naam van een attachment</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileListQueryEnvelope_EDSNBusinessDocumentHeader_Source ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileListQueryEnvelope_EDSNBusinessDocumentHeader_Source">
		<xsd:annotation>
			<xsd:documentation>Zender van een bericht.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Authority" type="ccma:FileListQueryEnvelope_Text" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Descriptor that qualifies the identifier used to identify the sending party</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContactTypeIdentifier" type="ccma:FileListQueryEnvelope_Text" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Role in this business process</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SenderID" type="ccma:FileListQueryEnvelope_GLNEANCode">
				<xsd:annotation>
					<xsd:documentation>Descriptor with information to identify this party</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileListQueryEnvelope_FileListQueryContent ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileListQueryEnvelope_FileListQueryContent">
		<xsd:sequence>
			<xsd:element name="FileList_EDSNFileDetails" type="ccma:FileListQueryEnvelope_FileListQueryContent_FileList_EDSNFileDetails">
				<xsd:annotation>
					<xsd:documentation>Bestandsgegevens.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileListQueryEnvelope_FileListQueryContent_FileList_EDSNFileDetails ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileListQueryEnvelope_FileListQueryContent_FileList_EDSNFileDetails">
		<xsd:annotation>
			<xsd:documentation>Bestandsgegevens.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CommunicationPartner1EntityID_EDSNFileDetails" type="ccma:FileListQueryEnvelope_FileListQueryContent_FileList_EDSNFileDetails_CommunicationPartner1EntityID_EDSNFileDetails">
				<xsd:annotation>
					<xsd:documentation>EAN codes partij.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CommunicationPartner2EntityID_EDSNFileDetails" type="ccma:FileListQueryEnvelope_FileListQueryContent_FileList_EDSNFileDetails_CommunicationPartner2EntityID_EDSNFileDetails">
				<xsd:annotation>
					<xsd:documentation>EAN codes partij.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Direction" type="ccma:FileListQueryEnvelope_Text">
				<xsd:annotation>
					<xsd:documentation>Inkomende/uitgaande bestanden:
I (=inkomend)
O (=uitgaand)
U (=onbekend)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndDate_EDSNFileDetails" type="ccma:FileListQueryEnvelope_FileListQueryContent_FileList_EDSNFileDetails_EndDate_EDSNFileDetails" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Periode eind (datum/tijd).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FileType" type="ccma:FileListQueryEnvelope_Text" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Bestandstype voor bestandsuitwisseling.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Group" type="ccma:FileListQueryEnvelope_Text">
				<xsd:annotation>
					<xsd:documentation>Groep voor bestandsuitwisseling.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartDate_EDSNFileDetails" type="ccma:FileListQueryEnvelope_FileListQueryContent_FileList_EDSNFileDetails_StartDate_EDSNFileDetails" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Periode begin (datum/tijd).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Status" type="ccma:FileListQueryEnvelope_Code" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Status van bestand:
Aangeboden
Teruggetrokken
Opgehaald
Afgemeld
Fout</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileListQueryEnvelope_FileListQueryContent_FileList_EDSNFileDetails_CommunicationPartner1EntityID_EDSNFileDetails ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileListQueryEnvelope_FileListQueryContent_FileList_EDSNFileDetails_CommunicationPartner1EntityID_EDSNFileDetails">
		<xsd:annotation>
			<xsd:documentation>EAN codes partij.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OrganisationID" type="ccma:FileListQueryEnvelope_GLNEANCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>EAN code organisatie.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PartyID" type="ccma:FileListQueryEnvelope_GLNEANCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>EAN code marktpartij.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileListQueryEnvelope_FileListQueryContent_FileList_EDSNFileDetails_CommunicationPartner2EntityID_EDSNFileDetails ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileListQueryEnvelope_FileListQueryContent_FileList_EDSNFileDetails_CommunicationPartner2EntityID_EDSNFileDetails">
		<xsd:annotation>
			<xsd:documentation>EAN codes partij.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OrganisationID" type="ccma:FileListQueryEnvelope_GLNEANCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>EAN code organisatie.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PartyID" type="ccma:FileListQueryEnvelope_GLNEANCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>EAN code marktpartij.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileListQueryEnvelope_FileListQueryContent_FileList_EDSNFileDetails_EndDate_EDSNFileDetails ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileListQueryEnvelope_FileListQueryContent_FileList_EDSNFileDetails_EndDate_EDSNFileDetails">
		<xsd:annotation>
			<xsd:documentation>Periode eind (datum/tijd).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DateTime" type="ccma:FileListQueryEnvelope_DateTime">
				<xsd:annotation>
					<xsd:documentation>Datum/tijd.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: FileListQueryEnvelope_FileListQueryContent_FileList_EDSNFileDetails_StartDate_EDSNFileDetails ===== -->
	<!-- ================================================================== -->
	<xsd:complexType name="FileListQueryEnvelope_FileListQueryContent_FileList_EDSNFileDetails_StartDate_EDSNFileDetails">
		<xsd:annotation>
			<xsd:documentation>Periode begin (datum/tijd).</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DateTime" type="ccma:FileListQueryEnvelope_DateTime">
				<xsd:annotation>
					<xsd:documentation>Datum/tijd.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- ================================================================== -->
	<!-- ===== Business Data Type Definitions ===== -->
	<!-- ================================================================== -->
	<!-- ================================================================== -->
	<!-- ===== Type Definition: Code ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileListQueryEnvelope_Code">
		<xsd:annotation>
			<xsd:documentation>Code (string).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: DateTime ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileListQueryEnvelope_DateTime">
		<xsd:annotation>
			<xsd:documentation>Datum/tijd (dateTime).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: GLNEANCode ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileListQueryEnvelope_GLNEANCode">
		<xsd:annotation>
			<xsd:documentation>Global Location Number (GLN) conform de Europese Artikel Nummering.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="13"/>
			<xsd:pattern value="[0-9]{13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: Identifier ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileListQueryEnvelope_Identifier">
		<xsd:annotation>
			<xsd:documentation>Identifier (string).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: Indicator ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileListQueryEnvelope_Indicator">
		<xsd:annotation>
			<xsd:documentation>Indicator (string).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: Numeric ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileListQueryEnvelope_Numeric">
		<xsd:annotation>
			<xsd:documentation>Nummer (getal).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Type Definition: Text ===== -->
	<!-- ================================================================== -->
	<xsd:simpleType name="FileListQueryEnvelope_Text">
		<xsd:annotation>
			<xsd:documentation>Tekst (string).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<!-- ================================================================== -->
	<!-- ===== Business Code List Definitions ===== -->
	<!-- ================================================================== -->
</xsd:schema>
